<modal-small [id]="id">
    <ng-container header>
        <h5 class="modal-title" id="exampleModalToggleLabel">{{title | titlecase}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </ng-container>
    <p [innerHTML]="message"></p>
    <ng-container footer>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
        </button>
        <button type="button" class="btn btn-danger">{{ actionBtnTxt | titlecase }}</button>
    </ng-container>
</modal-small>