<modal-small [id]="'delete'">
    <ng-container header>
        <h5 class="modal-title" id="exampleModalToggleLabel">Delete Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </ng-container>
    <p body>Are you sure you want to delete this account?</p>
    <ng-container footer>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
        </button>
        <button type="button" class="btn btn-danger">
            Delete
        </button>
    </ng-container>
</modal-small>