
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse">
    <div class="position-sticky">
        <div class="list-group list-group-flush mt-4">
            <a routerLink="/home" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                <i class='bx bx-home-alt-2'></i>
                <span>Dashboard</span>
            </a>
        
            <a routerLink="/analytics" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                <i class='bx bx-category-alt'></i>
                <span>Analytics</span>
            </a>
        
            <br />
            <p class="fs-14">Post Management</p>
            <a routerLink="/posts/all" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                <i class='bx bx-category-alt'></i>
                <span>All Posts</span>
            </a>
            <a routerLink="/posts/categories" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                <i class='bx bx-category-alt'></i>
                <span>Categories</span>
            </a>
            <a routerLink="/posts/reviews" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                <i class='bx bx-category-alt'></i>
                <span>Reviews</span>
            </a>
            
            <!-- <div class="accordion accordion-flush" id="navigationAccordoin">
                <div class="accordion-item">
                    <div class="accordion-header">
                        <a class="accordion-button list-group-item border-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            <i class='bx bx-category-alt'></i>
                            <span>Posts Management</span>
                        </a>
                    </div>
                    <div id="flush-collapseOne" class="accordion-collapse collapse border-0" data-bs-parent="#navigationAccordoin">
                        <div class="accordion-body list-group list-group-flush border-0">
                            <a routerLink="/posts/all" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                                <span>All Posts</span>
                            </a>
                            <a routerLink="/posts/categories" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                                <span>Categories</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div> -->
            
            <br />
            <p class="fs-14">Account Management</p>
            <a routerLink="/settings" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                <i class='bx bx-cog' ></i>
                <span>Staffs</span>
            </a>

            <br />
            <p class="fs-14">Others</p>
            <a routerLink="/settings" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                <!-- <i class='bx bxs-cog' ></i> -->
                <span>Settings</span>
            </a>
            <a routerLink="/help" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                <!-- <i class='bx bxs-help-circle' ></i> -->
                <span>Help</span>
            </a>
            <a routerLink="/feedback" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                <!-- <i class='bx bx-mail-send' ></i> -->
                <span>Send Feedback</span>
            </a>
        </div>
    </div>
</nav>