
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse">
    <div>
        <div class="list-group list-group-flush mt-4">
            <a routerLink="/home" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                <i class='bx bx-home-alt-2'></i>
                <span>Dashboard</span>
            </a>
        
            <a routerLink="/analytics" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                <i class='bx bx-category-alt'></i>
                <span>Analytics</span>
            </a>
            
            <br />
            <p class="fs-14">Expenses Management</p>
            <a routerLink="/expenses/categories" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                <i class='bx bx-category-alt'></i>
                <span>Expense Categories</span>
            </a>
            <a routerLink="/expenses/sources" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                <i class='bx bx-category-alt'></i>
                <span>Expense Sources</span>
            </a>
        
            <br />
            <p class="fs-14">Requests Management</p>
            <a routerLink="/requests/listings" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                <i class='bx bx-category-alt'></i>
                <span>All Requests</span>
            </a>
            <a routerLink="/requests/categories" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                <i class='bx bx-category-alt'></i>
                <span>Request Categories</span>
            </a>
            <a routerLink="/requests/features" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                <i class='bx bx-category-alt'></i>
                <span>Request Features</span>
            </a>

            <br />
            <p class="fs-14">Businesses Management</p>
            <a routerLink="/business/listings" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                <i class='bx bx-cog' ></i>
                <span>Business Listings</span>
            </a>
            <a routerLink="/business/agents" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                <i class='bx bx-cog' ></i>
                <span>Business Agents</span>
            </a>
            <a routerLink="/business/users" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                <i class='bx bx-cog' ></i>
                <span>Business Users</span>
            </a>
        
            <br />
            <p class="fs-14">Transactions Management</p>
            <a routerLink="/payents/transactions" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                <i class='bx bx-category-alt'></i>
                <span>All Transactions</span>
            </a>
            <a routerLink="/payents/transactions" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                <i class='bx bx-category-alt'></i>
                <span>Subscriptions</span>
            </a>
            
            <br />
            <p class="fs-14">Account Management</p>
            <a routerLink="/accounts/users" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                <i class='bx bx-cog' ></i>
                <span>Users Accounts</span>
            </a>
            <a routerLink="/accounts/staffs" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                <i class='bx bx-cog' ></i>
                <span>Staffs Members</span>
            </a>

            <br />
            <p class="fs-14">Others</p>
            <a routerLink="/settings" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                <!-- <i class='bx bxs-cog' ></i> -->
                <span>Settings</span>
            </a>
            <a routerLink="/faqs" routerLinkActive="active" class="list-group-item  border-0" aria-current="true">
                <!-- <i class='bx bxs-help-circle' ></i> -->
                <span>Frequently Asked Questions</span>
            </a>
            <a class="list-group-item  border-0" aria-current="true">
                <span>Newsletter</span>
            </a>
        </div>
    </div>
</nav>