.navbar-brand {
    width: 260px !important;
}
form {
    width: 40vw !important;
    position: absolute !important;
    left: 295px !important;
    /* border: 1px solid #eee !important; */
}
input {
    height: 50px !important;
    
}
.navbar {
    /* padding-left: 20px !important; */
    padding: 7px 20px !important;
    /* padding-right: 20px !important; */
}
.nav-link {
    i {
        margin-top: 5px !important;
    }
}
nav {
    width: 100vw !important;
}