<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  
  <!-- <ion-content [fullscreen]="true" class="ion-no-padding ion-padding-top"> -->
    <header class="foi-header landing-header">
      <div class="container">
          <!-- <nav class="navbar navbar-expand-lg navbar-light foi-navbar">
              <a class="navbar-brand" href="index.html">
                  <img src="assets/images/logo.svg" alt="FOI">
              </a>
              <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="collapsibleNavId">
                  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                      <li class="nav-item active">
                          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="about.html">About</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="features.html">Features</a>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                          <div class="dropdown-menu" aria-labelledby="pagesMenu">
                              <a class="dropdown-item" href="blog.html">Blog</a>
                              <a class="dropdown-item" href="login.html">Login</a>
                              <a class="dropdown-item" href="register.html">Register</a>
                              <a class="dropdown-item" href="faq.html">FAQ</a>
                              <a class="dropdown-item" href="404.html">404</a>
                              <a class="dropdown-item" href="careers.html">Careers</a>
                              <a class="dropdown-item" href="blog-single.html">Single blog</a>
                              <a class="dropdown-item" href="privacy-policy.html">Privacy policy</a>
                          </div>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="contact.html">contact</a>
                      </li>
                  </ul>
                  <ul class="navbar-nav mt-2 mt-lg-0">
                      <li class="nav-item mr-2 mb-3 mb-lg-0">
                          <a class="btn btn-secondary" href="register.html">Sign up</a>
                      </li>
                      <li class="nav-item">
                          <a class="btn btn-secondary" href="login.html">Login</a>
                      </li>
                  </ul>
              </div>
          </nav> -->
          <div class="header-content">
              <div class="row">
                  <div class="col-md-6">
                      <h1>The Immortal Words App</h1>
                      <!-- <ion-text class="ion-text-wrap"> -->
                          <p class="text-dark lh-lg">The Immortal Words App is an educative and informative social media community that teaches and encourages moralities and values of love, togetherness, humility, forgiveness, peace, truth, and other good virtues.</p>
                      <!-- </ion-text> -->
                      <!-- <ion-button color="primary" class="mb-4">Get Started</ion-button> -->
                      <div class="my-2">
                          <p class="header-app-download-title">GET OUR MOBILE APP</p>
                      </div>
                      <div>
                          <button class="btn btn-app-download mr-2"><img src="assets/images/ios.svg" alt="App store"></button>
                          <button class="btn btn-app-download"><img src="assets/images/android.svg" alt="play store"></button>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <img src="assets/images/why-use-immortal-words.png" alt="app" width="388px" class="img-fluid">
                  </div>
              </div>
          </div>
      </div>
  </header>
    <section class="py-5 mt-5">
      <div class="container py-5">
          <!-- <ion-label class="ion-text-center"> -->
            <h1 class="section-title" style="font-size: 2rem; font-weight: bold;">Application Features</h1>
            <!-- <ion-text class="ion-text-muted ion-padding"> -->
              <p style="font-size: 1rem; " class="lh-lg">The immortal words app is the  first and only social media platform in the world that promotes creativity, harmony, and unity, with sections like <br> Let’s Talk StarcrossTV Cartoons audio quotes Gospels.</p>
            <!-- </ion-text> -->
          <!-- </ion-label> -->
          <div class="row pt-5">
              <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="assets/icon/Lets-talk-icon-for-website.png" alt="card img" class="img-fluid service-card-img aos-init aos-animate" data-aos="fade-up" width="90" height="90">
                <!-- <ion-thumbnail>
                  <img src="assets/icon/Lets-talk-icon-for-website.png" />
                </ion-thumbnail> -->
                  <h4 style="margin: 18px 0px; font-weight: bold; font-size: 1.5rem;">Let's Talk</h4>
                  <!-- <ion-text color="dark"> -->
                    <p class="ion-text-wrap">Incorporates unique and common social media features. Download the App and enjoy a community devoid of illicitness and bitterness.</p>
                  <!-- </ion-text> -->
                  <!-- <p class="mb-5"><a href="#!" class="text-primary mb-5">Find out More</a></p> -->
                  
              </div>
              <div class="col-lg-4 mb-3 mb-lg-0">
                <img src="assets/icon/cartoons.png" alt="card img" class="img-fluid service-card-img aos-init aos-animate" data-aos="fade-up" width="90" height="90">
                <!-- <ion-thumbnail>
                  <img src="assets/icon/Lets-talk-icon-for-website.png" />
                </ion-thumbnail> -->
                  <h4 style="margin: 18px 0px; font-weight: bold; font-size: 1.5rem;">Cartoons</h4>
                  <!-- <ion-text color="dark"> -->
                    <p class="ion-text-wrap">The Cartoon section is the best children's companion. It illustrates the Everlasting Gospel of love, peace, sincerity, kindness, togetherness, hard work, innovation and power.</p>
                  <!-- </ion-text> -->
                  
              </div>
              <div class="col-lg-4 mb-3 mb-lg-0">
                <img src="assets/icon/quotes.png" alt="card img" class="img-fluid service-card-img aos-init aos-animate" data-aos="fade-up" width="90" height="90">
                <!-- <ion-thumbnail>
                  <img src="assets/icon/Lets-talk-icon-for-website.png" />
                </ion-thumbnail> -->
                  <h4 style="margin: 18px 0px; font-weight: bold; font-size: 1.5rem;">Quotes</h4>
                  <!-- <ion-text color="dark"> -->
                    <p class="ion-text-wrap">A quick guide to the Everlasting Gospel and other featured content.</p>
                  <!-- </ion-text> -->
                  
              </div>
              
              <!-- <div class="col-lg-4">
                  <h6 class="text-gray font-os font-weight-semibold">Trusted by the world's best</h6>
                  <div id="landingClientCarousel" class="carousel slide landing-client-carousel" data-ride="carousel">
                      <div class="carousel-inner" role="listbox">
                          <div class="carousel-item active">
                              <div class="d-flex flex-wrap justify-content-center">
                                  <div class="clients-logo">
                                      <img src="assets/images/clients/slack.svg" alt="Slack" class="img-fluid">
                                  </div>
                                  <div class="clients-logo">
                                      <img src="assets/images/clients/spotify.svg" alt="Spotify" class="img-fluid">
                                  </div>
                                  <div class="clients-logo">
                                      <img src="assets/images/clients/paypal.svg" alt="Paypal" class="img-fluid">
                                  </div>
                                  <div class="clients-logo">
                                      <img src="assets/images/clients/amazon.svg" alt="Amazon" class="img-fluid">
                                  </div>
                                  <div class="clients-logo">
                                      <img src="assets/images/clients/google.svg" alt="Google" class="img-fluid">
                                  </div>
                                  <div class="clients-logo">
                                      <img src="assets/images/clients/samsung.svg" alt="Samsung" class="img-fluid">
                                  </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="d-flex flex-wrap justify-content-center">
                                  <div class="clients-logo">
                                      <img src="assets/images/clients/slack.svg" alt="Slack" class="img-fluid">
                                  </div>
                                  <div class="clients-logo">
                                      <img src="assets/images/clients/spotify.svg" alt="Spotify" class="img-fluid">
                                  </div>
                                  <div class="clients-logo">
                                      <img src="assets/images/clients/paypal.svg" alt="Paypal" class="img-fluid">
                                  </div>
                                  <div class="clients-logo">
                                      <img src="assets/images/clients/amazon.svg" alt="Amazon" class="img-fluid">
                                  </div>
                                  <div class="clients-logo">
                                      <img src="assets/images/clients/google.svg" alt="Google" class="img-fluid">
                                  </div>
                                  <div class="clients-logo">
                                      <img src="assets/images/clients/samsung.svg" alt="Samsung" class="img-fluid">
                                  </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="d-flex flex-wrap justify-content-center">
                                  <div class="clients-logo">
                                      <img src="assets/images/clients/slack.svg" alt="Slack" class="img-fluid">
                                  </div>
                                  <div class="clients-logo">
                                      <img src="assets/images/clients/spotify.svg" alt="Spotify" class="img-fluid">
                                  </div>
                                  <div class="clients-logo">
                                      <img src="assets/images/clients/paypal.svg" alt="Paypal" class="img-fluid">
                                  </div>
                                  <div class="clients-logo">
                                      <img src="assets/images/clients/amazon.svg" alt="Amazon" class="img-fluid">
                                  </div>
                                  <div class="clients-logo">
                                      <img src="assets/images/clients/google.svg" alt="Google" class="img-fluid">
                                  </div>
                                  <div class="clients-logo">
                                      <img src="assets/images/clients/samsung.svg" alt="Samsung" class="img-fluid">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <ol class="carousel-indicators">
                          <li data-target="#landingClientCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#landingClientCarousel" data-slide-to="1"></li>
                          <li data-target="#landingClientCarousel" data-slide-to="2"></li>
                      </ol>
                  </div>
              </div> -->
          </div>
          <div class="row py-md-5 py-sm-2">
            <div class="col-lg-4 mb-3 mb-lg-0">
              <img src="assets/icon/gospels.png" alt="card img" class="img-fluid service-card-img aos-init aos-animate" data-aos="fade-up" width="90" height="90">
              <!-- <ion-thumbnail>
                <img src="assets/icon/Lets-talk-icon-for-website.png" />
              </ion-thumbnail> -->
                <h4 style="margin: 18px 0px; font-weight: bold; font-size: 1.5rem;">Gospels</h4>
                <!-- <ion-text color="dark"> -->
                  <p class="ion-text-wrap">The Everlasting Gospel is the direct teachings of Leader Olumba Olumba Obu to the entire world. This Gospel is a clarion call for a new world without social vices, hate, lies, lack, sicknesses and death.</p>
                <!-- </ion-text> -->
                
            </div> 
            <div class="col-lg-4 mb-3 mb-lg-0">
              <img src="assets/icon/Starcross-1.png" alt="card img" class="img-fluid service-card-img aos-init aos-animate" data-aos="fade-up" width="90" height="90">
              <!-- <ion-thumbnail>
                <img src="assets/icon/Lets-talk-icon-for-website.png" />
              </ion-thumbnail> -->
                <h4 style="margin: 18px 0px; font-weight: bold; font-size: 1.5rem;">Starcross</h4>
                <!-- <ion-text color="dark"> -->
                  <p class="ion-text-wrap">Download the App and Watch Starcoss TV live</p>
                <!-- </ion-text> -->
                
            </div> 
          </div>
      </div>
  </section>
  <section class="py-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5 mb-md-5">
                <img src="assets/images/Group 12.svg" alt="special offers" class="img-fluid" width="492px">
            </div>
            <div class="col-md-6">
                <h2 class="section-title" style="font-size: 2rem; font-weight: bold;">Develop your well-being and spiritual life</h2>
                <!-- <ion-text class="ion-text-muted ion-padding"> -->
                  <p class="mb-5" style="font-size: 1rem; " class="lh-lg">Social media is God’s plan for the unity of man, the Brotherhood of Man. As the world is now a Global village, there was a need for a virtual space where people of all races, tribes, and social-political statuses could share ideas and strategize on making the world a better place for all to live.</p>
  
                <!-- </ion-text> -->
                <div class="row pt-4">
                    <div class="col-md-12 mb-3 " style="display:flex; flex-wrap: wrap; row-gap: 20px;
                    column-gap: 20px;">
                      <div class="p-2 px-3" style="border-style: solid;
                      border-width: 1px 1px 1px 1px;
                      border-color: #DADADA;
                      border-radius: 6px 6px 6px 6px; display: flex; align-items: center; width: 200px;">
                        <div>
                          <!-- <ion-icon name="logo-google-playstore" style="font-size: 2.5rem;"></ion-icon> -->
                        </div>
                        <div style="margin-left: 15px;">
                          <p style="margin-bottom: -2px; font-size: 0.8rem;">Get it on</p>
                          <h5>Google play</h5>
                        </div>
                      </div>
  
                      <div class="p-2 px-3" style="border-style: solid;
                      border-width: 1px 1px 1px 1px;
                      border-color: #DADADA;
                      border-radius: 6px 6px 6px 6px; display: flex; align-items: center; width: 200px;">
                        <div>
                          <!-- <ion-icon name="logo-apple" style="font-size: 2.5rem;"></ion-icon> -->
                        </div>
                        <div style="margin-left: 15px;">
                          <p style="margin-bottom: -2px; font-size: 0.8rem;">Download on the</p>
                          <h5>App Store</h5>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <section class="py-5 mb-5"  style="background: #dcfce7;">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-6 mb-5 mb-md-0">
                <img src="assets/images/app_2.png" alt="special offers" class="img-fluid" width="492px">
            </div> -->
            <div class="col-md-12">
              <!-- <ion-text class="ion-text-center ion-padding"> -->
                <h2 class="section-title pb-4" style="font-size: 2rem; font-weight: bold;">Why Use the Immortal Words App?</h2>
              <!-- </ion-text> -->
                
                <!-- <p class="mb-5">He has led a remarkable campaign, defying the traditional mainstream parties courtesy of his En Marche! movement. For many, however, the campaign has become less about backing Macron and instead about voting against Le Pen, the National Front candidate.</p> -->
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="media landing-feature">
                            <span class="landing-feature-icon"></span>
                            <div class="media-body">
                                <h5>Child-friendly</h5>
                                <!-- <p>All the basics for businesses that are just getting started.</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="media landing-feature">
                            <span class="landing-feature-icon"></span>
                            <div class="media-body">
                                <h5>User Friendly Interface</h5>
                                <!-- <p>All the basics for businesses that are just getting started.</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="media landing-feature">
                            <span class="landing-feature-icon"></span>
                            <div class="media-body">
                                <h5>No ill words</h5>
                                <!-- <p>All the basics for businesses that are just getting started.</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <div class="media landing-feature">
                          <span class="landing-feature-icon"></span>
                          <div class="media-body">
                              <h5>No Fee Attached</h5>
                              <!-- <p>All the basics for businesses that are just getting started.</p> -->
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="media landing-feature">
                        <span class="landing-feature-icon"></span>
                        <div class="media-body">
                            <h5>Quality & Fast Support</h5>
                            <!-- <p>All the basics for businesses that are just getting started.</p> -->
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <section class="py-5 mb-5">
    <div class="container">
        <h2>Got a question? Reach out to us!</h2>
        <p class="text-muted mb-5"></p>
        <div class="row">
            <div class="col-lg-6 mb-4">
                <!-- <contact-form (contactEvent)="data=$event"></contact-form>
                <ion-grid class="ion-padding">
                  <ion-row>
                    <ion-col size="12" offset="0" class="ion-margin">
                      <ion-button (click)="contactData()" class=" hidden-md" size="large" expand="block" [disabled]="!data">
                        <span class="fs-16 bold">Send Message</span>
                      </ion-button>
                      <br />
                    </ion-col>
                  </ion-row>
                </ion-grid> -->
            </div>
        </div>
    </div>
  </section>
  
  <footer class="foi-footer text-white">
      
    <div class="container">
        
        <div class="row footer-widget-area align-items-center">
            <div class="col-md-3">
                <div class="">
                    <img class="img-fluid" src="assets/images/white.png" alt="IW" width="120" height="120">
                </div>
                <p class="font-os font-weight-semibold mb3">Get our mobile app</p>
                <div>
                    <button class="btn btn-app-download mr-2"><img src="assets/images/ios.svg" alt="App store"></button>
                    <button class="btn btn-app-download"><img src="assets/images/android.svg" alt="play store"></button>
                </div>
            </div>
            <!-- <div class="col-md-3 mt-3 mt-md-0">
                <nav>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="#!" class="nav-link">Account</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">My tasks</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">Edit profile</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">Activity</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3 mt-3 mt-md-0">
                <nav>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="#!" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">Services</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">Careers <span class="badge badge-pill badge-secondary ml-3">Hiring</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">Shop with us</a>
                        </li>
                    </ul>
                </nav>
            </div> -->
            <div class="col-md-3 mt-3 mt-md-0 offset-md-2">
                <p class="p-0 m-0">
                  Find us on social media
                </p>
                <p class="p-0 m-0">All rights reserved.</p>
                <nav class="social-menu">
                    <a href="#!"><img src="assets/images/facebook.svg" alt="facebook"></a>
                    <a href="#!"><img src="assets/images/instagram.svg" alt="instagram"></a>
                    <a href="#!"><img src="assets/images/twitter.svg" alt="twitter"></a>
                    <a href="#!"><img src="assets/images/youtube.svg" alt="youtube"></a>
                </nav>
            </div>
            <div class="col-md-3 mt-3 mt-md-0 offset-md-1">
              <p class="p-0 m-0">
                  We’re always happy to help.
              </p>
              <p class="p-0 m-0 text-muted">info@immortalwords.com</p>
          </div>
        </div>
    </div>
  </footer>
    
  <!-- </ion-content> -->
  