<div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
    [colors]="chartOptions.colors"
    [yaxis]="chartOptions.yaxis"
    [grid]="chartOptions.grid"
    [xaxis]="chartOptions.xaxis"
    [legend]="chartOptions.legend"
  ></apx-chart>
  <!-- <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis"
    [grid]="chartOptions.grid"
    [stroke]="chartOptions.stroke"
    [colors]="chartOptions.colors"
    [legend]="chartOptions.legend"
    [markers]="chartOptions.markers"
    [title]="chartOptions?.title"
  ></apx-chart> -->

  <!-- <apx-chart
  [chart]="chartOptions.chart"
  [series]="chartOptions.series"
  [labels]="chartOptions.labels"
  [grid]="chartOptions.grid"
  [xaxis]="chartOptions.xaxis"
  [yaxis]="chartOptions.yaxis"
  [title]="chartOptions.title"
  [legend]="chartOptions.legend"
  [dataLabels]="chartOptions.dataLabels"
></apx-chart> -->
</div>

