<ul class="nav nav-tabs border-bottom">
  <li class="nav-item">
    <a class="nav-link active" id="settings-general-tab" data-bs-toggle="tab" data-bs-target=" #settings-general-pane"
      type="button" role="tab" aria-controls="settings-general-pane" aria-selected="true">General</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="settings-business-tab" data-bs-toggle="tab" data-bs-target="#settings-business-pane"
      type="button" role="tab" aria-controls="settings-business-pane" aria-selected="true">
      Businesses
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="settings-subscription-tab" data-bs-toggle="tab" data-bs-target="#settings-subscription-pane"
      type="button" role="tab" aria-controls="settings-subscription-pane" aria-selected="true">
      Subscription
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="settings-preference-tab" data-bs-toggle="tab" data-bs-target="#settings-preference-pane"
      type="button" role="tab" aria-controls="settings-preference-pane" aria-selected="true">
      User Preference
    </a>
  </li>
</ul>