<ul class="nav nav-tabs bg-white">
  <li class="nav-item">
    <a class="nav-link active" id="settings-general-tab" data-bs-toggle="tab" data-bs-target=" #settings-general-pane"
      type="button" role="tab" aria-controls="settings-general-pane" aria-selected="true">General</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-pane"
      type="button" role="tab" aria-controls="profile-pane" aria-selected="true">
      Profile
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="preference-tab" data-bs-toggle="tab" data-bs-target="#preference-pane"
      type="button" role="tab" aria-controls="preference-pane" aria-selected="true">
      Account Preference
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings-pane"
      type="button" role="tab" aria-controls="settings-pane" aria-selected="true">
      Settings
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="security-tab" data-bs-toggle="tab" data-bs-target="#security-pane"
      type="button" role="tab" aria-controls="security-pane" aria-selected="true">
      Security
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="settings-subscription-tab" data-bs-toggle="tab" data-bs-target="#settings-subscription-pane"
      type="button" role="tab" aria-controls="settings-subscription-pane" aria-selected="true">
      Subscription
    </a>
  </li>
</ul>