<div class="container">
    <div class="px-4 pt-3 text-center border-bottom w-100">
        <h1 class="display-5 fw-bold">The simpler way to check your<br> spending and balances</h1>
        <div class="col-lg-6 mx-auto">
        <p class="fs-6 mb-4 mt-3">We want more people to have knowledge of their finances, with easy access and without getting involved with budgeting or putting in the manual work of sorting.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <form [formGroup]='launchForm' class="row g-3 border-b-black no-border">
                <div class="col-md-auto">
                <label for="staticEmail2" class="visually-hidden">Email</label>
                <input type="email" class="form-control" id="signupHeroFormWorkEmail" placeholder="Enter your email" aria-label="Enter your email" required="true" formControlName="email">
                <span class="invalid-feedback">Please enter your email address</span>
                </div>
                <div class="col-md-auto -mb-8">
                <button type="submit" class="btn btn-dark mb-3" (click)="signupEmail()">Get started  <i class="bi bi-arrow-right"></i></button>
                </div>
            </form>
        </div>
        </div>
        <div class="overflow-none img-header-container" style="max-height: 40vh; position: relative; top: -60px;">
        <div class="container">
            <img src="assets/images/apps.png" class="img-fluid rounded-3 mb-4" alt="Example image" width="700" height="500" loading="lazy">
        </div>
        </div>
    </div>
</div>