<div class="container">
    <div class="px-4 pt-3 text-center w-100">
        <h1 class="display-3">The simpler way to check your<br> spending and balances</h1>
        <div class="col-lg-6 mx-auto">
        <p class="fs-6 mb-4 mt-3 fw-lighter">We want more people to have knowledge of their finances, with easy access and without getting involved with budgeting or putting in the manual work of sorting.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5 mt-0 mt-md-5">
            <form [formGroup]='launchForm' class="row g-3 no-border-sm border-bottom-md">
                <div class="col-md-auto">
                <label for="staticEmail2" class="visually-hidden">Email</label>
                <input type="email" class="form-control" id="signupHeroFormWorkEmail" placeholder="Enter your email" required="true" formControlName="email">
                <span class="invalid-feedback">Please enter your email address</span>
                </div>
                <div class="col-md-auto -mb-8">
                <button type="button" class="btn btn-dark mb-3" (click)="signupEmail()">Get started  <i class="bi bi-arrow-right"></i></button>
                </div>
                
            </form>
        </div>
        <div *ngIf="f.email?.invalid && (f.email?.dirty || f.email?.touched)" style="margin-top: -50px; margin-bottom: 30px;">
            <span *ngIf="f.email?.errors?.['required']" class="text-danger fs-12" >Email address is required</span>
            <span *ngIf="f.email?.errors?.['email']" class="text-danger fs-12" >Email address is not valid</span>
        </div>
        </div>
        <div class="overflow-none img-header-container position-relative" style="max-height: 52vh; top: -60px;">
            <div class="container" style="width: 70%;">
                <hero-slider></hero-slider>
                <!-- <img src="assets/images/card-1.png" class="img-fluid rounded-3 mb-4" alt="Example image"  loading="lazy"> -->
            
                <!-- <img src="assets/images/apps.png" class="img-fluid rounded-3 mb-4" alt="Example image" width="700" height="500" loading="lazy"> -->
                <!-- <div class="position-absolute start-0" style="top: 80%">Prev</div>
                <div class="position-absolute end-0" style="top: 80%">Next</div> -->
            </div>
            
        </div>
    </div>
</div>