
@media screen and (max-width: 768px) {

    .img-header-container {
        // max-height: 30vh !important;
    }

    input[type="email"] {
        border-color: transparent !important;
        background-color: var(--color-primary) !important;
        border-bottom: 2px solid var( --color-light) !important;
        border-radius: 0 !important;
    
        &:focus {
            border-color: transparent !important;
            border-bottom: 2px solid var( --color-light) !important;
            box-shadow: none!important;
            outline: 0 none !important;
        }
    }

    .no-border {
        border: 0 none !important;
    }

    .no-border-sm {
        border: 0 none !important;
    }

}

  /* Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) {
    
    .border-bottom-md {
        border-bottom: 1px solid var(--color-light) !important;
    }
}
