<settings-navbar></settings-navbar>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="settings-general-pane" role="tabpanel"
        aria-labelledby="settings-general-tab" tabindex="0">
        <div class="d-flex align-items-center justify-content-between w-75 pb-3 mt-3">
            <div>
                <h2 class="fw-bold fs-16">General</h2>
                <p class="fs-14 text-muted" style="margin-top: -5px">
                    Managed various countries and regions wher users can access
                    applicationn from.
                </p>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="settings-subscription-pane" role="tabpanel"
        aria-labelledby="settings-subscription-tab" tabindex="0">
        <div class="d-flex align-items-center justify-content-between w-75 pb-3 mt-3">
            <div>
                <h2 class="fw-bold fs-16">Subscription</h2>
                <p class="fs-14 text-muted" style="margin-top: -5px">
                    Managed various countries and regions wher users can access
                    applicationn from.
                </p>
            </div>
        </div>

        <ul class="mt-2 w-75 p-0">
            <li class="row align-items-center pb-3 mb-2">
                <div class="col-7">
                    <h2 class="fw-bold mb-1 fs-16">Subscription Information</h2>
                    <p class="m-0 fs-14">Protect your account and transactions.</p>
                </div>
                <div class="col-3">
                    <p class="fs-16 pt-2">Agent Subscription</p>
                </div>
                <div class="col-2 text-end">
                    <button class="btn btn-secondary shadow-none">Change</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="tab-pane fade" id="settings-preference-pane" role="tabpanel" aria-labelledby="settings-preference-tab"
        tabindex="0">
        <div class="d-flex align-items-center justify-content-between w-75 pb-3 mt-3">
            <div>
                <h2 class="fw-bold fs-16">Account Preference</h2>
                <p class="fs-14 text-muted" style="margin-top: -5px">
                    Managed various countries and regions wher users can access
                    applicationn from.
                </p>
            </div>
        </div>

        <ul class="mt-2 w-75 p-0">
            <li class="row align-items-center pb-3 mb-2">
                <div class="col-7">
                    <h2 class="fw-bold mb-1 fs-16">Change Your Theme</h2>
                    <p class="m-0 fs-14">Protect your account and transactions.</p>
                </div>
                <div class="col-3 text-end">
                    <p class="fs-16 pt-2">Dark Mode</p>
                </div>
                <div class="col-2 text-end">
                    <button class="btn btn-secondary shadow-none">Change</button>
                </div>
            </li>
            <li class="row align-items-center pb-3 mb-2">
                <div class="col-7">
                    <h2 class="fw-bold mb-1 fs-16">Change Language</h2>
                    <p class="m-0 fs-14">Protect your account and transactions.</p>
                </div>
                <div class="col-3 text-end">
                    <p class="fs-16">English</p>
                </div>
                <div class="col-2 text-end">
                    <button class="btn btn-secondary shadow-none">Change</button>
                </div>
            </li>
        </ul>
    </div>
</div>