

<section class="footer_area">
    <div class="container">
    <footer class="row row-cols-3 row-cols-md-6 gy-4 gy-md-0">
      <div class="col">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <img class="navbar-brand round" height="40" width="40" src="assets/icons/logo.png">
          <h2 class="fs-5 mb-0 text-white fw-600">Aide Finance</h2>
        </a>
        <p class="text-white border-b py-4" style="font-size: 0.9rem;">Aidefinancial Help you build your dream Finance</p>
        <p class="text-muted py-2" style="font-size: 0.9rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p class="fs-11">See detail <i class="bi bi-arrow-right align-middle fs-6"></i> </p>
      </div>
  
      <div class="col ps-5">
        <h6 style="font-size: 0.9rem;">Company <i class="bi bi-caret-down-fill align-middle" style="font-size: 0.5rem;"></i></h6>
        <ul class="nav flex-column">
          <li class="mt-3 mb-2"><span class="p-0 fw-light fs-11 text-light-50">Career</span></li>
        </ul>
      </div>
  
      <div class="col">
        <h6 style="font-size: 0.9rem;">About Us <i class="bi bi-caret-down-fill align-middle" style="font-size: 0.5rem;"></i></h6>
        <ul class="nav flex-column">
          <li class="mt-3 mb-2"><span class="p-0 fw-light fs-11 text-light-50">How it Works</span></li>
          <li class="mb-2"><span class="p-0 fw-light fs-11 text-light-50">All-in-One</span></li>
          <li class="mb-2"><span class="p-0 fw-light fs-11 text-light-50">Aidefinancial Business</span></li>
          <li class="mb-2"><span class="p-0 fw-light fs-11 text-light-50">Aidefinancial Customer</span></li>
          <li class="mb-2"><span class="p-0 fw-light fs-11 text-light-50">For Partners</span></li>
        </ul>
      </div>
  
      <div class="col">
        <h6 style="font-size: 0.9rem;">Pricing</h6>
        <ul class="nav flex-column">
          <li class="mt-3 mb-2"><span class="p-0 fw-light fs-11 text-light-50">About Product</span></li>
          <li class="mb-2"><span class="p-0 fw-light fs-11 text-light-50">Management</span></li>
        </ul>
      </div>

      <div class="col">
        <h6 style="font-size: 0.9rem;">Media</h6>
        <ul class="nav flex-column">
          <li class="mt-3 mb-2"><span class="p-0 fw-light fs-11 text-light-50">Privacy Policy</span></li>
          <li class="mb-2"><span class="p-0 fw-light fs-11 text-light-50">Development</span></li>
          <li class="mb-2"><span class="p-0 fw-light fs-11 text-light-50">Terms &amp; Service</span></li>
        </ul>
      </div>

      <div class="col">
        <h6 style="font-size: 0.9rem;">Contact</h6>
        <ul class="nav flex-column">
          <li class="mt-3 mb-2"><span class="p-0 fw-light fs-11 text-light-50">(077) 092 3353</span></li>
        </ul>
      </div>
    </footer>
    <div class="d-flex flex-column justify-content-cemter pt-3 mt-4">
        <span class="text-center fw-light text-light-50 fs-11">© {{year}} Aidefinancial, Inc. All right reserved.</span>
      </div>
    </div>
</section>