

<ul class="nav nav-tabs bg-white mb-4">
    <li class="nav-item">
        <a class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all-pane" type="button" role="tab"
            aria-controls="all-pane" aria-selected="true">
            All Users
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="active-tab" data-bs-toggle="tab" data-bs-target="#active-pane" type="button" role="tab"
            aria-controls="active-pane" aria-selected="true">
            Active Users
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="archived-tab" data-bs-toggle="tab" data-bs-target="#archived-pane" type="button"
            role="tab" aria-controls="archived-pane" aria-selected="true">
            Archived
        </a>
    </li>
</ul>