
<table class="table align-middle mb-0 bg-white table-hover" id="accounttable">
    <thead class="bg-light">
        <tr>
            <td style="width: 10px;">No.</td>
            <th>Name</th>
            <th>Country</th>
            <th>Phone</th>
            <th>Status</th>
            <th>Abbreviation</th>
            <th>ID Type</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td role="button" data-bs-toggle="modal" data-bs-target="#view-business_modal">
                <div class="d-flex align-items-center"><img alt="" loading="lazy" class="rounded-circle"
                        style="width: 35px; height: 35px; margin-right: 10px;"
                        src="https://ui-avatars.com/api/?name=Keluba Chuks&amp;color=fff&amp;&amp;background=random">
                    <div align="left">
                        <p class="mb-0 fs-14"> Keluba Chuks </p>
                        <p class="text-muted mb-0 fs-12 fw-4" style="margin-top: -5px;"> kaoschukshotmail.com </p>
                    </div>
                </div>
            </td>
            <td role="button" data-bs-toggle="modal" data-bs-target="#view-business_modal">
                <div class="d-flex align-items-center">
                    <div align="left">
                        <p class="mb-0 fs-14"> United Arab Emirates </p>
                    </div>
                </div>
            </td>
            <td role="button" data-bs-toggle="modal" data-bs-target="#view-business_modal">
                <p class="mb-0 fs-14">Not set</p>
            </td>
            <td role="button" data-bs-toggle="modal" data-bs-target="#view-business_modal">
                <p class="mb-0 fs-14 text-success"> Verified </p>
            </td>
            <td role="button" data-bs-toggle="modal" data-bs-target="#view-business_modal">
                <p class="mb-0 fs-14"> Not Set </p>
            </td>
            <td role="button" data-bs-toggle="offcanvas" data-bs-target="#view-business_modal"><span
                    class="badge badge-light text-dark rounded-pill fs-12">registrar</span></td>
            <td><button data-bs-toggle="modal" data-bs-target="#edit_modal" class="btn btn-link p-0 me-4"> verify
                </button><button data-bs-toggle="modal" data-bs-target="#delete_modal"
                    class="btn btn-link p-0 text-danger"> Delete </button></td>
        </tr>
        <tr>
            <td>2</td>
            <td role="button" data-bs-toggle="modal" data-bs-target="#view-business_modal">
                <div class="d-flex align-items-center"><img alt="" loading="lazy" class="rounded-circle"
                        style="width: 35px; height: 35px; margin-right: 10px;"
                        src="https://ui-avatars.com/api/?name=JK Vneture&amp;color=fff&amp;&amp;background=random">
                    <div align="left">
                        <p class="mb-0 fs-14"> Jk Vneture </p>
                        <p class="text-muted mb-0 fs-12 fw-4" style="margin-top: -5px;"> infokelubaemeka.me </p>
                    </div>
                </div>
            </td>
            <td role="button" data-bs-toggle="modal" data-bs-target="#view-business_modal">
                <div class="d-flex align-items-center">
                    <div align="left">
                        <p class="mb-0 fs-14"> United Arab Emirates </p>
                    </div>
                </div>
            </td>
            <td role="button" data-bs-toggle="modal" data-bs-target="#view-business_modal">
                <p class="mb-0 fs-14">Not set</p>
            </td>
            <td role="button" data-bs-toggle="modal" data-bs-target="#view-business_modal">
                <p class="mb-0 fs-14 text-success"> Verified </p>
            </td>
            <td role="button" data-bs-toggle="modal" data-bs-target="#view-business_modal">
                <p class="mb-0 fs-14"> Not Set </p>
            </td>
            <td role="button" data-bs-toggle="offcanvas" data-bs-target="#view-business_modal"><span
                    class="badge badge-light text-dark rounded-pill fs-12">registrar</span></td>
            <td><button data-bs-toggle="modal" data-bs-target="#edit_modal" class="btn btn-link p-0 me-4"> verify
                </button><button data-bs-toggle="modal" data-bs-target="#delete_modal"
                    class="btn btn-link p-0 text-danger"> Delete </button></td>
        </tr>
        <tr>
            <td>1</td>
            <td role="button" data-bs-toggle="modal" data-bs-target="#view-business_modal">
                <div class="d-flex align-items-center"><img alt="" loading="lazy" class="rounded-circle"
                        style="width: 35px; height: 35px; margin-right: 10px;"
                        src="https://ui-avatars.com/api/?name=Keluba Chuks&amp;color=fff&amp;&amp;background=random">
                    <div align="left">
                        <p class="mb-0 fs-14"> Keluba Chuks </p>
                        <p class="text-muted mb-0 fs-12 fw-4" style="margin-top: -5px;"> kaoschukshotmail.com </p>
                    </div>
                </div>
            </td>
            <td role="button" data-bs-toggle="modal" data-bs-target="#view-business_modal">
                <div class="d-flex align-items-center">
                    <div align="left">
                        <p class="mb-0 fs-14"> United Arab Emirates </p>
                    </div>
                </div>
            </td>
            <td role="button" data-bs-toggle="modal" data-bs-target="#view-business_modal">
                <p class="mb-0 fs-14">Not set</p>
            </td>
            <td role="button" data-bs-toggle="modal" data-bs-target="#view-business_modal">
                <p class="mb-0 fs-14 text-success"> Verified </p>
            </td>
            <td role="button" data-bs-toggle="modal" data-bs-target="#view-business_modal">
                <p class="mb-0 fs-14"> Not Set </p>
            </td>
            <td role="button" data-bs-toggle="offcanvas" data-bs-target="#view-business_modal"><span
                    class="badge badge-light text-dark rounded-pill fs-12">registrar</span></td>
            <td><button data-bs-toggle="modal" data-bs-target="#edit_modal" class="btn btn-link p-0 me-4"> verify
                </button><button data-bs-toggle="modal" data-bs-target="#delete_modal"
                    class="btn btn-link p-0 text-danger"> Delete </button></td>
        </tr>
        <tr>
            <td>2</td>
            <td role="button" data-bs-toggle="modal" data-bs-target="#view-business_modal">
                <div class="d-flex align-items-center"><img alt="" loading="lazy" class="rounded-circle"
                        style="width: 35px; height: 35px; margin-right: 10px;"
                        src="https://ui-avatars.com/api/?name=JK Vneture&amp;color=fff&amp;&amp;background=random">
                    <div align="left">
                        <p class="mb-0 fs-14"> Jk Vneture </p>
                        <p class="text-muted mb-0 fs-12 fw-4" style="margin-top: -5px;"> infokelubaemeka.me </p>
                    </div>
                </div>
            </td>
            <td role="button" data-bs-toggle="modal" data-bs-target="#view-business_modal">
                <div class="d-flex align-items-center">
                    <div align="left">
                        <p class="mb-0 fs-14"> United Arab Emirates </p>
                    </div>
                </div>
            </td>
            <td role="button" data-bs-toggle="modal" data-bs-target="#view-business_modal">
                <p class="mb-0 fs-14">Not set</p>
            </td>
            <td role="button" data-bs-toggle="modal" data-bs-target="#view-business_modal">
                <p class="mb-0 fs-14 text-success"> Verified </p>
            </td>
            <td role="button" data-bs-toggle="modal" data-bs-target="#view-business_modal">
                <p class="mb-0 fs-14"> Not Set </p>
            </td>
            <td role="button" data-bs-toggle="offcanvas" data-bs-target="#view-business_offcanvas"><span
                    class="badge badge-light text-dark rounded-pill fs-12">registrar</span></td>
            <td><button data-bs-toggle="modal" data-bs-target="#edit_modal" class="btn btn-link p-0 me-4"> verify
                </button><button data-bs-toggle="modal" data-bs-target="#delete_modal"
                    class="btn btn-link p-0 text-danger"> Delete </button></td>
        </tr>
    </tbody>
</table>