

@font-face {
    font-family: 'Moderat';
    src: url('../fonts/Moderat-Regular.a2f5d8f.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSans-Regular.ttf') format('truetype');
}

