

/* Angular Swiper Style */
@import 'mdb-ui-kit/css/mdb.min.css';

body {
    &::-webkit-scrollbar {
        display: block;
        scrollbar-width: 5px;
        background: none;
        width: 7px;
        border-radius: 10px;
      }
    
      &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          cursor: pointer;
    }    

}

.no-shadow {
    box-shadow: none !important;
}

.fs-10 {
    font-size: 10px !important;
}
.fs-12 {
    font-size: 12px !important;
}
.fs-14 {
    font-size: 14px !important;
}
.fs-16 {
    font-size: 16px !important;
}
.fs-18 {
    font-size: 18px !important;
}
.fs-20 {
    font-size: 20px !important;
}
.fs-22 {
    font-size: 22px !important;
}
.fs-25 {
    font-size: 25px !important;
}
.fs-30 {
    font-size: 30px !important;
}
.fs-40 {
    font-size: 40px !important;
}
.fs-50 {
    font-size: 50px !important;
}
.fs-60 {
    font-size: 60px !important;
}
.fs-70 {
    font-size: 70px !important;
}

/* Theme Font Weight */
.fw-4 {
    font-weight: 400 !important;
}
.fw-5 {
    font-weight: 500 !important;
}
.fw-6 {
    font-weight: 600 !important;
}
.fw-7 {
    font-weight: 700 !important;  
}

.bg-gray {
    background-color: var(--bs-gray-200) !important;
}
* {
    font-family: "Moderat", Roboto, Arial, sans-serif !important;
    // -webkit-font-smoothing: antialiased !important;
    // -moz-osx-font-smoothing: grayscale !important;
    font-weight: 500 !important;
    font-display: swap !important;
    // line-height: 20px !important;
    font-style: normal !important;
}

@media (min-width: 991.98px) {
    main {
        padding-left: 300px;
    }
}
.no-padding {
    padding: 0px !important
}
.table {
    tbody {
        tr td {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }
    }
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.1) !important;
}
