:root{
    --color-primary: #1D70A2;
    --color-secondary: #3dc2ff;
    --color-tertiary: #5260ff;
    --color-white: #ffffff;
    --color-medium: #92949c;
    --color-light: #f4f5f8;

    --big-title-text: 2.5rem;

    --font-weight: 600;
}

//Fonts Sizes----------------------------------------------------------------
.fs-11 {
    font-size: 0.75rem !important;
}
.fs-12{
    font-size: 0.8rem !important;
}
.fs-13 {
    font-size: 0.82rem !important;
}
.fs-16 {
    font-size: 1.5rem !important;
}
.fs-40 {
    font-size: var(--big-title-text) !important;
}

//Font Weight----------------------------------------------------------------
.fw-600 {
    font-weight: var(--font-weight) !important;
}

//Margins----------------------------------------------------------------
.-mb-8 {
    margin-bottom: -8px !important;
}
.mb-34 {
    margin-bottom: 34px !important;
}

//Padding----------------------------------------------------------------
.pb-120 {
    padding-bottom: 120px;
}

//Borders----------------------------------------------------------------
.border-b-black {
    border-bottom: 2px solid #000 !important;
}

//Aligns----------------------------------------------------------------
.vertical-align-middle {
    vertical-align: middle !important;
}

//Colors----------------------------------------------------------------
.text-default {
    color: #9cd9fe !important;
}

//Backgrounds----------------------------------------------------------------
.bg-primary-light {
    background-color: #9cd9fe !important;
}
.bg-default {
    background-color: #9cd9fe !important;
}
.bg-lighter {
    background-color: #bee0f5 !important;
}

//Heights----------------------------------------------------------------
.h-200 {
    height: 200px !important;
}

img {
    max-width: 100%;
    height: auto;
}