<top-header></top-header>
<div class="container-fluid mb-4 headerv" style="background-color: #9cd9fe;">
    <app-header></app-header>

    <hero-section></hero-section>
</div>

<section class="container my-5 g-5 py-4 feature_area">
    <div class="row align-items-center">
        <div class="col-lg-7 mt-4 pe-5">
            <div class="mt-4 pe-5">
                <h2 class="text-capitalize lh-sm" style="font-size: 2.5rem;"><span class="fw-bold">More than 40,00</span> people in <br>the world <span class="fw-bold">successfully<br> transact</span> using online banks</h2>
            </div>
            <div class="d-flex mt-4 p-2 flex-column flex-md-row feature_area_content">
                <div class="w-sm-25 w-100">
                    <div class="position-relative">
                        <h6 class="lead fw-bold text-default">40,000+</h6>
                        <p class="no-border-sm border-r-md"><span class="fw-light">Successfull transaction with </span><b>AideFinancial</b></p>
                    </div>
                </div>
                <div class="w-sm-25 w-100">
                    <div class="position-relative">
                        <h6 class="lead fw-bold text-default ms-0 ms-sm-3">35,000+</h6>
                        <p  class="ms-0 ms-sm-3 border-r-md"><span class="fw-light">Registere user on </span><b>AideFinancial</b></p>
                    </div>
                </div>
                <div class="w-sm-25 w-100">
                    <div class="position-relative">
                        <h6 class="lead fw-bold text-default ms-0 ms-sm-3">+ 20 City</h6>
                        <p class="ms-0 ms-sm-3"><span class="fw-light">Affordable by </span><b>AideFinancial</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 mt-4">
            <div class="cash-img">
                <img class="img-fluid" src="assets/images/manage-cash-img.png" alt="">
                <img class="msg-1" src="assets/images/basic-info-2.png" alt="">
                <img class="msg-2" src="assets/images/basic-info-3.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="container my-5 financial_needs" >
    <div class="row">
        <div class="col-md-12 text-center my-5">
            <div class="position-relative">
                <div class="position-absolute top-50 start-50 translate-middle">
                    <h2 style="font-size: 2.5rem;">One appp for all financial needs</h2>
                    <p class="text-muted">all about your finances is now easy to manage with just one app one<br> place and one hand</p>
                </div>
            </div>
           
        </div>
    </div>
    <div class="row gy-lg-0 gy-4">
        <div class="col-lg-4 col-md-6 p-4 rounded-2">
            <div class="blog-widget" style="border: 1px solid #B0BAF1;
            margin-bottom: 34px;
            padding: 20px 20px 16px 20px;
            border-radius: 12px;">
            <div class="me-5 w-75">
                <p class="fw-bold fs-6 mb-1">Money Transfer</p>
                <p style="font-size: 0.75rem;">win today's bidding war by combining the best of humans with powerful technology.</p>

            </div>
                <div class="blog-content">
                    <div class="img-content float-end">
                        <!-- <img class="track-2" src="assets/images/basic-info-3.png" alt="" > -->
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4 col-md-6 p-4 rounded-2">
            <div class="blog-widget"  style="border: 1px solid #B0BAF1;
            margin-bottom: 34px;
            padding: 20px 20px 16px 20px;
            border-radius: 12px; background-color: #9cd9fe;">
                <div class="me-5 w-75">
                    <p class="fw-bold fs-6 mb-1">Connect with many banks</p>
                    <p style="font-size: 0.75rem;">transactions to all types of banks without admin fees without exception.</p>
                </div>
                <div class="blog-content">
                    <div class="img-content float-end">
                        <!-- <img class="track-2" src="assets/images/basic-info-2.png" alt="" > -->
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4 col-md-6 p-4 mx-auto rounded-2 ">
            <div class="blog-widget"  style="border: 1px solid #B0BAF1;
            margin-bottom: 34px;
            padding: 20px 20px 16px 20px;
            border-radius: 12px;">
                <div class="me-5 w-75">
                    <p class="fw-bold fs-6 mb-1">Record all transactions</p>
                    <p style="font-size: 0.75rem;">record all transactions in detail without worrying about where your expenses go.</p>

                </div>
                <div class="blog-img">
                    <div class="img-content float-end">
                        <!-- <img class="track-2 img-fluid" src="assets/images/track-3.png" alt="" > -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="features-section second">
    <div class="overlay pt-120 pb-120">
        <div class="container">
            <div class="row flex-column-reverse flex-sm-row">
                <div class="col-lg-6 text-start cus-ord">
                    <div class="img-area">
                        <img src="assets/images/feature-item-2.png" alt="image">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="top-section">
                        <span class="head-icon d-flex justify-content-center align-items-center">
                            <i class='bx bxs-check-shield' style="font-size: 3rem;"></i>
                        </span>
                        <h2 class="title">The Better Way to Save &amp; Invest</h2>
                        <h5 class="sub-title">Safe Investments</h5>
                        <p>Bankio helps over 2 million customers achieve their financial goals by helping them save
                            and invest with ease. Put that extra cash to use without putting it at risk with Bankio.
                        </p>
                        <ul class="list">
                            <li class="list-item d-flex align-items-center">
                                <span class="check d-flex align-items-center justify-content-center">
                                    <img src="assets/images/check.png" alt="icon">
                                </span>
                                <span>Profitable to invest and Handy to manage</span>
                            </li>
                            <li class="list-item d-flex align-items-center ">
                                <span class="check d-flex align-items-center justify-content-center">
                                    <img src="assets/images/check.png" alt="icon">
                                </span>
                                <span>Highest Returns on your investments</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="financial-planning my-5">
    <div class="overlay pt-120 pb-120 my-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-6 col-lg-5">
                    <div class="section-text">
                        <h2 class="title">Featured Products</h2>
                        <h5 class="sub-title">Let's plan your finances the right way</h5>
                        <p class="lead">Lending that doesn't weigh you down.We know how hard is it to start something new, that’s
                            why we have the perfect plan for you.</p>
                    </div>
                    <!-- <a href="register.html" class="cmn-btn">Apply for a loan</a> -->
                </div>
                <div class="col-xl-6 col-lg-7">
                    <div class="row cus-mar">
                        <div class="col-md-6 col-sm-6">
                            <div class="plan-box">
                                <div class="thumb">
                                    <i class="bx bx-math" style="font-size: 3rem;"></i>
                                </div>
                                <h5 class="my-3">Loans</h5>
                                <ul class="list">
                                    <li class="list-item d-flex align-items-center">
                                        <span class="check d-flex align-items-center justify-content-center">
                                            <img src="assets/images/check.png" alt="icon">
                                        </span>
                                        <span>Lowest interest rates</span>
                                    </li>
                                    <li class="list-item d-flex align-items-center">
                                        <span class="check d-flex align-items-center justify-content-center">
                                            <img src="assets/images/check.png" alt="icon">
                                        </span>
                                        <span>Fast Loan Processing</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="plan-box">
                                <div class="thumb">
                                    <i class='bx bx-shield-plus' style="font-size: 3rem;"></i>
                                </div>
                                <h5 class="my-3">Insurance</h5>
                                <ul class="list">
                                    <li class="list-item d-flex align-items-center">
                                        <span class="check d-flex align-items-center justify-content-center">
                                            <img src="assets/images/check.png" alt="icon">
                                        </span>
                                        <span>Competitive rates</span>
                                    </li>
                                    <li class="list-item d-flex align-items-center">
                                        <span class="check d-flex align-items-center justify-content-center">
                                            <img src="assets/images/check.png" alt="icon">
                                        </span>
                                        <span>Quick Easy</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="plan-box">
                                <div class="thumb">
                                    <i class='bx bx-leaf' style="font-size: 3rem;"></i>
                                </div>
                                <h5 class="my-3">Investment</h5>
                                <ul class="list">
                                    <li class="list-item d-flex align-items-center">
                                        <span class="check d-flex align-items-center justify-content-center">
                                            <img src="assets/images/check.png" alt="icon">
                                        </span>
                                        <span>Pay back conveniently</span>
                                    </li>
                                    <li class="list-item d-flex align-items-center">
                                        <span class="check d-flex align-items-center justify-content-center">
                                            <img src="assets/images/check.png" alt="icon">
                                        </span>
                                        <span>Fast Loan Processing</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="plan-box">
                                <div class="thumb">
                                    <i class='bx bx-party' style="font-size: 3rem;"></i>
                                </div>
                                <h5 class="my-3">Rewards</h5>
                                <ul class="list">
                                    <li class="list-item d-flex align-items-center">
                                        <span class="check d-flex align-items-center justify-content-center">
                                            <img src="assets/images/check.png" alt="icon">
                                        </span>
                                        <span>Easy Approvals</span>
                                    </li>
                                    <li class="list-item d-flex align-items-center">
                                        <span class="check d-flex align-items-center justify-content-center">
                                            <img src="assets/images/check.png" alt="icon">
                                        </span>
                                        <span>Full Assistance</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5 mb-5" id="downloadSection">
    <div class="container">
        <div class="row">
            <div class="col-md-6 animate__animated animate__slideInRight animate__delay-1s">
                <h2 class="section-title title" style="font-size: 2rem; font-weight: bold;">Donec sollicitudin molestie malesuada.</h2>
                  <p class="mb-5" style="font-size: 1rem; " class="lh-lg">Sed porttitor lectus nibh. Donec rutrum congue leo eget malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies ligula sed magna dictum porta.</p>
                <div class="row pt-4">
                    <div class="col-md-12 mb-3 " style="display:flex; flex-wrap: wrap; row-gap: 20px;
                    column-gap: 20px;">
                      <div class="p-2 px-3" style="border-style: solid;
                      border-width: 1px;
                      border-color: #DADADA;
                      border-radius: 6px; display: flex; align-items: center; width: 200px;">
                        <div>
                            <i class="bi bi-google-play" style="font-size: 2.5rem;"></i>
                        </div>
                        <div style="margin-left: 15px;">
                            <p style="margin-bottom: -2px; font-size: 0.8rem;">Get it on</p>
                            <h5>Google play</h5>
                        </div>
                      </div>
  
                      <div class="p-2 px-3" style="border-style: solid;
                      border-width: 1px;
                      border-color: #DADADA;
                      border-radius: 6px; display: flex; align-items: center; width: 200px;">
                        <div>
                            <i class="bi bi-apple" style="font-size: 2.5rem;"></i>
                        </div>
                        <div style="margin-left: 15px;">
                            <p style="margin-bottom: -2px; font-size: 0.8rem;">Download on the</p>
                            <h5>App Store</h5>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-5 mb-md-5">
                <img src="assets/images/footer.png" alt="special offers" class="img-fluid animate__animated animate__slideInLeft animate__delay-1s" width="492px">
            </div>
        </div>
    </div>
  </section>

<section class="advantages container my-5 ">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="d-flex justify-content-center title2">Find out more about our advantages</h3>
            <div class="d-inline-flex justify-content-center flex-wrap" style="width: 33.33%;">
                <p class="text-muted">Architecto nobis eos vel nam quidem a. nobis eos vel nobis eos vel nobis eos vel nobis eos</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center py-5">
        <div class="col-xl-4 col-md-6 col-12">
            <div class="media">
                <i class="bx bx-math" style="font-size: 3rem;"></i>
                <div class="media-body">
                    <h5>Clean Markup</h5>
                    <p>Bankapp Clean and readable code structure and validated by W3C.</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12 rounded-2">
            <div class="media">
                <img src="demo/images/icons/12.png" alt="icon">
                <div class="media-body">
                    <h5>Bootstrap 4</h5>
                    <p>Developed on Bootstrap 4, the most popular css framework.</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12 rounded-2">
            <div class="media">
                <img src="demo/images/icons/9.png" alt="icon">
                <div class="media-body">
                    <h5 class="mt-0">Menu</h5>
                    <p>Bankapp have custome menu..Sibebar menu &amp; footer menu.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div class="demo-feature pd-top-60 pd-bottom-60 d-lg-block">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-12">
                <div class="section-title text-center">
                    <h1 class="entry-title mb-3">Discover Core Feature</h1>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-12">
                <div class="media">
                    <img src="demo/images/icons/8.png" alt="icon">
                    <div class="media-body">
                        <h5>Clean Markup</h5>
                        <p>Bankapp Clean and readable code structure and validated by W3C.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-12">
                <div class="media">
                    <img src="demo/images/icons/12.png" alt="icon">
                    <div class="media-body">
                        <h5>Bootstrap 4</h5>
                        <p>Developed on Bootstrap 4, the most popular css framework.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-12">
                <div class="media">
                    <img src="demo/images/icons/9.png" alt="icon">
                    <div class="media-body">
                        <h5 class="mt-0">Menu</h5>
                        <p>Bankapp have custome menu..Sibebar menu &amp; footer menu.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-12">
                <div class="media">
                    <img src="demo/images/icons/7.png" alt="icon">
                    <div class="media-body">
                        <h5 class="mt-0">Component</h5>
                        <p>BankApp have 100+ Component. We have designed many components that will make you feel like using an mobile apps. </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-12">
                <div class="media">
                    <img src="demo/images/icons/8.png" alt="icon">
                    <div class="media-body">
                        <h5 class="mt-0">User Friendly Design</h5>
                        <p>BankApp is simple, clean, intuitive, and reliable from home screen to the payment form. If your product is struggling with usability, try implementing one of my tips during the app development stage.</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 col-12">
                <div class="media">
                    <img src="demo/images/icons/11.png" alt="icon">
                    <div class="media-body">
                        <h5 class="mt-0">SCSS</h5>
                        <p>Bankapp have scss file include. SCSS is a CSS pre-processor with syntax advancements. Style sheets in the advanced syntax are processed by the program, and turned into regular CSS style</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div> -->

<!-- <section class="py-5 mb-5">
    <div class="container">
        <div class="row flex-column-reverse flex-sm-row align-items-center">
          <div class="col-md-6 mb-5 mb-md-5">
            <img src="assets/images/Group 12.svg" alt="special offers" class="img-fluid" width="492px">
          </div>
            <div class="col-md-6">
                <ion-label>
                  <h2 class="section-title" style="font-size: 2rem; font-weight: bold;">No Fee Attached</h2>
                  <ion-text class="ion-text-muted ion-padding">
                   <p class="mb-5" style="font-size: 1rem; " class="lh-lg">Social media is God’s plan for the unity of man, the Brotherhood of Man. As the world is now a Global village, there was a need for a virtual space where people of all races, tribes, and social-political statuses could share ideas and strategize on making the world a better place for all to live.</p>
  
                  </ion-text>
                </ion-label>  
            </div>
        </div>
    </div>
  </section> -->

<section class="card-payment">
    <div class="container">
        <div class="row align-items-center gy-lg-0 gy-4">
            <div class="col-lg-6 col-xl-5 d-flex order-lg-1 py-2">
                <div class="text-content mt-4 mb-0">
                    <h2 class="title">Bank Connected spending tracker</h2>
                    <p class="pt-2">Make a Payment. Cardholders can pay any outstanding balances on their Citibank Simplicity
                        Credit
                        Card by logging in to their online account.</p>

                    <div class="mt-4 py-3">
                        <h4 class="btn rounded bg-lighter py-2 px-2">Avaliable on the App Store <i class="bi bi-arrow-right"></i></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mx-auto offset-xl-1 order-1 order-lg-2 mb-5">
                <div class="img-content">
                    <img class="card-1 img-fluid" src="assets/images/card-1.png" alt="" style="visibility: visible; animation-name: fadeInLeft;">
                    <img class="card-2" src="assets/images/card-2.png" alt="" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer_area">
    <div class="container">
    <footer class="row row-cols-5">
      <div class="col">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
            <img class="navbar-brand round" height="40" width="40" src="assets/icons/icon1.png">
        </a>
        <p class="text-white">© 2023</p>
      </div>
  
      <div class="col">
  
      </div>
  
      <div class="col">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">About</a></li>
        </ul>
      </div>
  
      <div class="col">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">About</a></li>
        </ul>
      </div>
  
      <div class="col">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">About</a></li>
        </ul>
      </div>
    </footer>
    <div class="d-flex flex-wrap justify-content-between align-items-center pt-3 mt-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <span class="text-white">© 2023 Company, Inc</span>
        </div>
    
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-white" href="#"><i class="bi bi-twitter"></i></a></li>
          <li class="ms-3"><a class="text-white" href="#"><i class="bi bi-instagram"></i></a></li>
          <li class="ms-3"><a class="text-white" href="#"><i class="bi bi-facebook"></i></a></li>
        </ul>
      </div>
    </div>
</section>
