<div class="container-fluid mb-4" style="background-color: #9cd9fe;">
    <app-header></app-header>

    <hero-section></hero-section>
</div>

<section class="container my-5 g-5 py-4">
    <div class="row">
        <div class="col-md-6 mt-4">
            <div class="mt-4 pe-5">
                <h1 class="display-6 display-md-6 text-capitalize text-wrap"><span class="fw-bold">More than 40,00</span> people in <br>the world <span class="fw-bold">successfully transact</span> using online banks</h1>
            </div>
            <div class="d-flex mt-3 p-2 flex-column flex-md-row">
                <div class="me-5">
                    <div class="position-relative">
                        <h6 class="fw-bold text-default">40,000+</h6>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                    </div>
                </div>
                <div class="me-5">
                    <div class="position-relative">
                        <h6 class="fw-bold text-default">35,000+</h6>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                    </div>
                </div>
                <div class="me-5">
                    <div class="position-relative">
                        <h6 class="fw-bold text-default">+ 20 City</h6>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 offset-md-1 mt-4">
            <!-- <img src="https://cdn.pixabay.com/photo/2012/11/28/13/53/osprey-67786_1280.jpg" class="feaurette-image img-fluid mx-auto"> -->
        </div>
    </div>
</section>

<section class="container my-5">
    <div class="row">
        <div class="col-12 my-5 text-center">
            <h3 class="d-flex justify-content-center">One appp for all financial needs</h3>
            <div class="d-inline-flex justify-content-center flex-wrap" style="width: 33.33%;">
                <p class="text-muted">Architecto nobis eos vel nam quidem a.</p>
            </div>
        </div>
    </div>
    <div class="row pe-5 gap-0">
        <div class="col-md-4 p-4 pb-0 pe-5 rounded-2">
            <div class="position-relative">
                <h6 class="fw-bold text-dark">Money Transfer</h6>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                <div class="position-relative" style="left:20px">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x300</text></svg>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-4 pb-0 pe-5 bg-default rounded-2">
            <div class="position-relative">
                <h6 class="fw-bold text-white">Money Transfer</h6>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                <div class="position-relative" style="left:50px">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x300</text></svg>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-4 pb-0 pe-5 rounded-2">
            <div class="position-relative">
                <h6 class="fw-bold text-dark">Expenses Summary</h6>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                <div class="position-relative" style="left:50px">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x300</text></svg>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid my-5 g-5 py-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mt-4">
                <!-- <img src="https://cdn.pixabay.com/photo/2012/11/28/13/53/osprey-67786_1280.jpg" class="feaurette-image img-fluid mx-auto"> -->
            </div>
            <div class="col-md-6 mt-4 offset-md-1">
                <div class="mt-4">
                    <h1 class="display-6 display-md-6 text-capitalize text-wrap"><span class="fw-bold">More than 40,00</span> people in <br>the world <span class="fw-bold">successfully transact</span> using online banks</h1>
                    <p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec rutrum congue leo eget malesuada. Pellentesque in ipsum id orci porta dapibus.</p>
                </div>
                <div class="d-flex mt-3 p-2 flex-column flex-md-row">
                    <div class="me-auto">
                        <div class="position-relative">
                            <span class="rounded-full bg-medium p-1 px-2 pb-2" style="background-color: rgb(199, 194, 194); border-radius: 100%">
                                <i class="bi bi-bank2"></i>
                            </span>
                            <h6 class="fw-bold mb-1 pt-2">Loan</h6>
                            <p class="pe-3 text-wrap">At vero eos et accusamus et iusto</p>
                        </div>
                    </div>
                    <div class="me-auto">
                        <div class="position-relative">
                            <span class="rounded-full bg-medium p-1 px-2 pb-2" style="background-color: rgb(199, 194, 194); border-radius: 100%">
                                <i class="bi bi-bank2"></i>
                            </span>
                            <h6 class="fw-bold mb-1 pt-2">Insurance</h6>
                            <p class="pe-3 text-wrap">At vero eos et accusamus et iusto </p>
                        </div>
                    </div>
                    <div class="me-auto">
                        <div class="position-relative">
                            <span class="rounded-full bg-medium p-1 px-2 pb-2" style="background-color: rgb(199, 194, 194); border-radius: 100%">
                                <i class="bi bi-bank2"></i>
                            </span>
                            <h6 class="fw-bold mb-1 pt-2">Reward</h6>
                            <p class="pe-3 text-wrap">At vero eos accusamus et iusto </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container my-5">
    <div class="row">
        <div class="col-12 my-5 text-center">
            <h3 class="d-flex justify-content-center">Find out more about our advantages</h3>
            <div class="d-inline-flex justify-content-center flex-wrap" style="width: 33.33%;">
                <p class="text-muted">Architecto nobis eos vel nam quidem a. nobis eos vel nobis eos vel nobis eos vel nobis eos</p>
            </div>
        </div>
    </div>
    <div class="row gap-2">
        <div class="col-md-6 bg-light">
            gfg
        </div>
        <div class="col-md-2">
            fgf
        </div>
        <div class="col-md-2">
            gfg
        </div>
    </div>
</section>