
<div class="container-fluid headerv" style="height: 90vh;">
    <hero-section (formEvent)="getStarted($event)"></hero-section>
</div>

<section class="g-5 py-5 feature_area w-full">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 mt-4 pe-5">
                <div class="mt-4 pe-5">
                    <h1 class="text-capitalize lh-sm display-6"><span class="fw-bold">More than 40,00</span> <span class="text-muted"> people in <br>the world </span><span class="fw-bold">successfully<br> transact</span> <span class="text-muted"> using online banks</span></h1>
                </div>
                <div class="d-flex mt-4 p-2 flex-column flex-md-row feature_area_content">
                    <div class="w-sm-25 w-100">
                        <div class="position-relative">
                            <p class="lead fs-3 text-primary fw-light">40.000+</p>
                            <p class="fs-6 no-border-sm border-r-md"><span class="fw-light text-muted">Successfull transaction with </span><b>AideFinancial</b></p>
                        </div>
                    </div>
                    <div class="w-sm-25 w-100">
                        <div class="position-relative">
                            <p class="lead fs-3 text-primary fw-light ms-0 ms-sm-3">35.000+</p>
                            <p  class="fs-6 ms-0 ms-sm-3 border-r-md"><span class="fw-light text-muted">Registered user on </span><b>AideFinancial</b></p>
                        </div>
                    </div>
                    <div class="w-sm-25 w-100">
                        <div class="position-relative">
                            <p class="lead fs-3 text-primary fw-light ms-0 ms-sm-3">> 20 City</p>
                            <p class="fs-6 ms-0 ms-sm-3"><span class="fw-light text-muted">Affordable by </span><b>AideFinancial</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 mt-4">
                <div class="cash-img">
                    <img class="img-fluid" src="assets/images/manage-cash-img.png" alt="">
                    <img class="msg-1" src="assets/images/basic-info-2.png" alt="">
                    <img class="msg-2" src="assets/images/basic-info-3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5 financial_needs w-full">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="d-flex justify-content-center fs-40">One appp for all financial needs</h2>
                <div class="d-inline-flex justify-content-center flex-wrap h-25 h-md-100">
                    <p class="text-muted">all about your finances is now easy to manage with just one app one<br> place and one hand</p>
                </div>
            </div>
        </div>
        <div class="row gy-0">
            <div class="col-lg-4 col-md-6 p-4">
                <div class="blog-widget bg-white h-100 rounded-3 border-0">
                <div class="me-5">
                    <p class="fw-bold fs-6 mb-1">Money Transfer</p>
                    <p class="fs-12 text-muted">win today's bidding war by combining the<br>  best of humans with powerful technology.</p>
    
                </div>
                    <div class="blog-content">
                        <div class="img-content float-end">
                            <img class="track-2" src="assets/images/money_transfer.png" alt="" >
                        </div>
                    </div>
    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 p-4">
                <div class="blog-widget h-100 bg-primary text-white rounded-3 border-0">
                    <div class="me-5">
                        <p class="fw-bold fs-6 mb-1">Connect with many banks</p>
                        <p class="fs-12">transactions to all types of banks without<br> admin fees without exception.</p>
                    </div>
                    <div class="blog-content">
                        <div class="img-content float-end">
                            <img class="track-2" src="assets/images/connected_banks.png" alt="" >
                        </div>
                    </div>
    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 p-4 mx-auto">
                <div class="blog-widget bg-white h-100 rounded-3 border-0">
                    <div class="me-5">
                        <p class="fw-bold fs-6 mb-1">Record all transactions</p>
                        <p class="fs-12 text-muted">record all transactions in detail without<br> worrying about where your expenses go.</p>
    
                    </div>
                    <div class="blog-img">
                        <div class="img-content float-end">
                            <img class="track-2 img-fluid" src="assets/images/records.png" alt="" >
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5 features-section w-full">
        <div class="container">
            <div class="row flex-column-reverse flex-sm-row">
                <div class="col-lg-6 text-start">
                    <div class="img-area">
                        <img src="assets/images/feature-item-2.png" alt="image">
                    </div>
                </div>
                <div class="col-lg-5 mt-md-5">
                    <div class="top-section mb-5">
                        <!-- <span class="head-icon d-flex justify-content-center align-items-center">
                            <i class='bx bxs-check-shield' style="font-size: 3rem;"></i>
                        </span> -->
                        <h2 class="fs-40">Aidefinancial supports thousands of banks in US &amp; Canada, and is actively adding more.</h2>
                        <!-- <h5 class="sub-title">Safe Investments</h5> -->
                        <p class="text-muted">Connect upto 3 banks and track them in one place. Aidefinancial is always workings to support smaller institutions in US &amp; Canada, follow Aidefinancial on <a href="" class="text-decoration-none">Twitter <i class='bx bx-right-arrow-alt'></i> for updates</a> on newly supported institutions.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 mb-4 mb-lg-0 text-start">
                            <div class="d-inline-flex justify-content-center align-items-center py-2 px-3 background-light-50 rounded-2">
                                <i class="bi bi-bank2 fs-5 text-primary"></i>
                            </div>
                            <h5>Link Banks</h5>
                            <p class="text-wrap fs-12 text-muted">Connect upto 3 banks<br> and their accounts</p>
                            <!-- <p class="mb-5"><a href="#!" class="text-primary mb-5">Find out More</a></p> -->
                                
                        </div>

                        <div class="col-lg-4 mb-4 mb-lg-0 text-start">
                            <div class="d-inline-flex justify-content-center align-items-center py-2 px-3 background-light-50 rounded-2">

                                <i class="bi bi-arrow-repeat fs-5 text-info"></i>
                            </div>
                            <h5>Automatic</h5>
                            <p class="text-wrap fs-12 text-muted">Up-to-date transactions<br> and balances</p>
                            <!-- <p class="mb-5"><a href="#!" class="text-primary mb-5">Find out More</a></p> -->
                                
                        </div>

                        <div class="col-lg-4 mb-4 mb-lg-0 text-start">
                            <div class="d-inline-flex justify-content-center align-items-center py-2 px-3 background-light-50 rounded-2">

                                <i class="bi bi-app-indicator fs-5 text-success"></i>
                            </div>
                            <h5>Notifications</h5>
                            <p class="text-wrap fs-12 text-muted">Get a weekly reminder<br> to check spending</p>
                            <!-- <p class="mb-5"><a href="#!" class="text-primary mb-5">Find out More</a></p> -->
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="py-5 advantages w-full">
    <div class="container">
        <div class="row flex-column-reverse flex-sm-row">
            <div class="col-12 text-center pt-5">
                <h1 class="d-flex justify-content-center display-6">Find out more about our advantages</h1>
                <div class="d-inline-flex justify-content-center flex-wrap h-25 h-md-100">
                    <p class="text-muted text-center">with many excellent features we are able to help you in dealing with<br> your financial problems</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center py-5">
            <div class="col-md-6">
                <div class="media background-light-50">
                    <div class="row">
                        <div class="col-md-6 position-relative h-200">
                            <div class="position-absolute top-0 start-0">
                                <p>The smart way to see your recent <br>expenses in detail without <br>missing a bit</p>
                            </div>
                            <div class="position-absolute bottom-0 start-0" style="bottom: 20px !important">
                                <h2>Spending</h2>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- <div class="h-auto"> -->
                                <img class="img-fluid h-auto d-none d-md-block" src="assets/images/advantages_img.png" alt="">
                            <!-- </div> -->
                            <!-- <img class="img-responsive" src="assets/images/basic-info-2.png" alt=""> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="media background-secondary">
                    <div class="row">
                        <div class="col-md-12 position-relative h-200">
                            <div class="position-absolute top-0 start-0">
                                <p>Keep info secured with Touch <br> ID and Face ID</p>
                            </div>
                            <div class="position-absolute bottom-0 start-0" style="bottom: 20px !important">
                                <h2>Private</h2>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="media background-secondary">
                    <div class="row">
                        <div class="col-md-12 position-relative h-200">
                            <div class="position-absolute top-0 start-0">
                                <p>Manually add spending for<br> this like cash</p>
                            </div>
                            <div class="position-absolute bottom-0 start-0" style="bottom: 20px !important">
                                <h2>Manual</h2>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- <section class="financial-planning my-5">
    <div class="overlay pb-120 my-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-6 col-lg-5">
                    <div class="mb-34">
                        <h2 class="fs-40">Featured Products</h2>
                        <p class="text-muted">Let's plan your finances the right way.</p>
                    </div>
                    <img class="img-fluid w-md-75 w-full" src="assets/images/1.png" alt="" >
                    <a href="register.html" class="cmn-btn">Apply for a loan</a>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <div class="row cus-mar">
                        <div class="col-md-6 col-sm-6">
                            <div class="plan-box">
                                <div class="thumb">
                                    <i class="bx bx-math fs-40"></i>
                                </div>
                                <h5 class="my-3">Loans</h5>
                                <ul class="list">
                                    <li class="list-item d-flex align-items-center">
                                        <span class="check d-flex align-items-center justify-content-center">
                                            <img src="assets/images/check.png" alt="icon">
                                        </span>
                                        <span>Lowest interest rates</span>
                                    </li>
                                    <li class="list-item d-flex align-items-center">
                                        <span class="check d-flex align-items-center justify-content-center">
                                            <img src="assets/images/check.png" alt="icon">
                                        </span>
                                        <span>Fast Loan Processing</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="plan-box">
                                <div class="thumb">
                                    <i class='bx bx-shield-plus fs-40'></i>
                                </div>
                                <h5 class="my-3">Insurance</h5>
                                <ul class="list">
                                    <li class="list-item d-flex align-items-center">
                                        <span class="check d-flex align-items-center justify-content-center">
                                            <img src="assets/images/check.png" alt="icon">
                                        </span>
                                        <span>Competitive rates</span>
                                    </li>
                                    <li class="list-item d-flex align-items-center">
                                        <span class="check d-flex align-items-center justify-content-center">
                                            <img src="assets/images/check.png" alt="icon">
                                        </span>
                                        <span>Quick Easy</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="plan-box">
                                <div class="thumb">
                                    <i class='bx bx-leaf fs-40'></i>
                                </div>
                                <h5 class="my-3">Investment</h5>
                                <ul class="list">
                                    <li class="list-item d-flex align-items-center">
                                        <span class="check d-flex align-items-center justify-content-center">
                                            <img src="assets/images/check.png" alt="icon">
                                        </span>
                                        <span>Pay back conveniently</span>
                                    </li>
                                    <li class="list-item d-flex align-items-center">
                                        <span class="check d-flex align-items-center justify-content-center">
                                            <img src="assets/images/check.png" alt="icon">
                                        </span>
                                        <span>Fast Loan Processing</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="plan-box">
                                <div class="thumb">
                                    <i class='bx bx-party fs-40'></i>
                                </div>
                                <h5 class="my-3">Rewards</h5>
                                <ul class="list">
                                    <li class="list-item d-flex align-items-center">
                                        <span class="check d-flex align-items-center justify-content-center">
                                            <img src="assets/images/check.png" alt="icon">
                                        </span>
                                        <span>Easy Approvals</span>
                                    </li>
                                    <li class="list-item d-flex align-items-center">
                                        <span class="check d-flex align-items-center justify-content-center">
                                            <img src="assets/images/check.png" alt="icon">
                                        </span>
                                        <span>Full Assistance</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section class="py-5 mb-5" id="downloadSection">
    <div class="container">
        <div class="row">
            <div class="col-md-6 animate__animated animate__slideInRight animate__delay-1s">
                <h2 style="font-size: 2.5rem;">Donec sollicitudin molestie malesuada.</h2>
                  <p class="mb-5 text-muted" class="lh-lg">Sed porttitor lectus nibh. Donec rutrum congue leo eget malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies ligula sed magna dictum porta.</p>
                <div class="row pt-4">
                    <div class="col-md-12 mb-3 " style="display:flex; flex-wrap: wrap; row-gap: 20px;
                    column-gap: 20px;">
                      <div class="p-2 px-3" style="border-style: solid;
                      border-width: 1px;
                      border-color: #DADADA;
                      border-radius: 6px; display: flex; align-items: center; width: 200px;">
                        <div>
                            <i class="bi bi-google-play" style="font-size: 2.5rem;"></i>
                        </div>
                        <div style="margin-left: 15px;">
                            <p style="margin-bottom: -2px; font-size: 0.8rem;">Get it on</p>
                            <h5>Google play</h5>
                        </div>
                      </div>
  
                      <div class="p-2 px-3" style="border-style: solid;
                      border-width: 1px;
                      border-color: #DADADA;
                      border-radius: 6px; display: flex; align-items: center; width: 200px;">
                        <div>
                            <i class="bi bi-apple" style="font-size: 2.5rem;"></i>
                        </div>
                        <div style="margin-left: 15px;">
                            <p style="margin-bottom: -2px; font-size: 0.8rem;">Download on the</p>
                            <h5>App Store</h5>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-5 mb-md-5">
                <img src="assets/images/footer.png" alt="special offers" class="img-fluid animate__animated animate__slideInLeft animate__delay-1s" width="492px">
            </div>
        </div>
    </div>
</section> -->

<section class="card-payment py-5">
    <div class="container">
        <div class="row align-items-center gy-lg-0 gy-4">
            <div class="col-lg-6 col-xl-5 d-flex order-lg-1 py-2">
                <div class="text-content mt-4 mb-0">
                    <h1 class="display-6">Bank Connected <br>spending tracker</h1>
                    <p class="pt-2 text-muted">with many excellent features we are able to <br>help you in dealing with your financial problems</p>

                    <div class="mt-4 py-3">
                        <h4 class="btn rounded background-light-50 py-2 px-2 text-primary">Avaliable on the App Store <i class="bi bi-arrow-right"></i></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mx-auto offset-xl-1 order-1 order-lg-2 mb-5">
                <div class="img-content">
                    <img class="card-1 img-fluid" src="assets/images/footer1.png" alt="">
                    <img class="card-2 img-fluid" src="assets/images/footer2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

