<form [formGroup]='launchForm'>
    <div class="row gx-3">
        <div class="col-sm-6">
            <div class="mb-4">
                <label class="form-label" for="signupHeroFormFirstName">First name</label>
                <input type="text" class="form-control form-control-lg" name="signupHeroFormNameFirstName" id="signupHeroFormFirstName" placeholder="First name" aria-label="First name" required="" formControlName="firstname">
                <span class="invalid-feedback">Please enter your first name</span>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- Form -->
            <div class="mb-4">
            <label class="form-label" for="signupHeroFormLasttName">Last name</label>
            <input type="text" class="form-control form-control-lg" name="signupHeroFormNameLastName" id="signupHeroFormLasttName" placeholder="Last name" aria-label="Last name" required="" formControlName="lastname">
            <span class="invalid-feedback">Please enter your last name</span>
            </div>
            <!-- End Form -->
        </div>
    </div>
    <div class="mb-4">
        <label class="form-label" for="signupHeroFormWorkEmail">Email address</label>
        <input type="email" class="form-control form-control-lg" name="signupHeroFormNameWorkEmail" id="signupHeroFormWorkEmail" placeholder="email@site.com" aria-label="email@site.com" required="" formControlName="email">
        <span class="invalid-feedback">Please enter your email address</span>
    </div>
    
    <div class="d-grid mb-3">
        <button type="submit" class="btn btn-primary btn-lg" (click)="signupEmail()">Keep in Touch</button>
    </div>
</form>