
<!-- <no-content>
    <div>
        <h2 class="fs-20 bold">NO COntent</h2>
    </div>
</no-content>

<app-loading></app-loading>
 -->

<div class="d-flex align-items-center gap-4 mb-4">
    <div class="position-relative">
      <div class="border border-2 border-primary rounded-circle">
        <img src="" class="rounded-circle m-1" alt="user1" width="60">
      </div>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary"> 3 <span class="visually-hidden">unread messages</span>
      </span>
    </div>
    <div>
      <h3 class="fw-semibold mb-0">Hi, <span class="text-dark">Johnathan</span>
      </h3>
      <span>Cheers, and happy activities - July 6 2023</span>
    </div>
  </div>

<div class="row mt-3">
    
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Statistics</h4>
                <div class="tab-content mt-4" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-impresstions" role="tabpanel"
                        aria-labelledby="pills-impresstions-tab">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <div>
                                    <div class="apex-charts" id="area-charts-1"></div>
                                </div>
                            </div>
                            <!-- end col-->

                            <div class="col-md-4">
                                <ul class="list-unstyled mt-sm-0 mt-4">
                                    <li class="border-bottom pb-3">Date<span
                                            class="float-right text-dark font-weight-semibold ">22/09/2020</span></li>
                                    <li class="border-bottom py-3">Total user <span
                                            class="float-right text-dark font-weight-semibold">220k</span></li>
                                    <li class="border-bottom py-3">Avarage sale <span
                                            class="float-right text-dark font-weight-semibold">120k</span></li>
                                    <li class="border-bottom py-3">Annual income <span
                                            class="float-right text-dark font-weight-semibold">$35,000.00</span></li>
                                    <li class="pt-3">Orders <span
                                            class="float-right text-dark font-weight-semibold">1250</span></li>
                                </ul>
                            </div>
                            <!-- end col-->
                        </div>
                        <!-- end row-->
                    </div>
                    <div class="tab-pane fade" id="pills-click" role="tabpanel" aria-labelledby="pills-click-tab">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <div>
                                    <div class="apex-charts" id="area-charts-2"></div>
                                </div>
                            </div>
                            <!-- end col-->

                            <div class="col-md-4">
                                <ul class="list-unstyled mt-sm-0 mt-4">
                                    <li class="border-bottom pb-3">Date <span
                                            class="float-right text-dark font-weight-semibold">26/10/2020</span></li>
                                    <li class="border-bottom py-3">Total user <span
                                            class="float-right text-dark font-weight-semibold">180k</span></li>
                                    <li class="border-bottom py-3">Avarage sale <span
                                            class="float-right text-dark font-weight-semibold">156k</span></li>
                                    <li class="border-bottom py-3">Annual income <span
                                            class="float-right text-dark font-weight-semibold">$42,600.00</span></li>
                                    <li class="pt-3">Orders <span
                                            class="float-right text-dark font-weight-semibold">2450</span></li>
                                </ul>
                            </div>
                            <!-- end col-->
                        </div>
                        <!-- end col-->
                    </div>
                    <div class="tab-pane fade" id="pills-sale" role="tabpanel" aria-labelledby="pills-sale-tab">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <div>
                                    <div class="apex-charts" id="area-charts-3"></div>
                                </div>
                            </div>
                            <!-- end col-->

                            <div class="col-md-4">
                                <ul class="list-unstyled mt-sm-0 mt-4">
                                    <li class="border-bottom pb-3">Date <span
                                            class="float-right text-dark font-weight-semibold">28/10/2020</span></li>
                                    <li class="border-bottom py-3">Total user <span
                                            class="float-right text-dark font-weight-semibold">350k</span></li>
                                    <li class="border-bottom py-3">Avarage sale <span
                                            class="float-right text-dark font-weight-semibold">265k</span></li>
                                    <li class="border-bottom py-3">Annual income <span
                                            class="float-right text-dark font-weight-semibold">$38,580.00</span></li>
                                    <li class="pt-3">Orders <span
                                            class="float-right text-dark font-weight-semibold">20k</span></li>
                                </ul>
                            </div>
                            <!-- end col-->
                        </div>
                        <!-- end row-->
                    </div>
                    <div class="tab-pane fade" id="pills-comissions" role="tabpanel"
                        aria-labelledby="pills-comissions-tab">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <div>
                                    <div class="apex-charts" id="area-charts-4"></div>
                                </div>
                            </div>
                            <!-- end col-->

                            <div class="col-md-4">
                                <ul class="list-unstyled mt-sm-0 mt-4">
                                    <li class="border-bottom pb-3">Date <span
                                            class="float-right text-dark font-weight-semibold">29/10/2020</span></li>
                                    <li class="border-bottom py-3">Total user <span
                                            class="float-right text-dark font-weight-semibold">425k</span></li>
                                    <li class="border-bottom py-3">Avarage sale <span
                                            class="float-right text-dark font-weight-semibold">400k</span></li>
                                    <li class="border-bottom py-3">Annual income <span
                                            class="float-right text-dark font-weight-semibold">$43,400.00</span></li>
                                    <li class="pt-3">Orders <span
                                            class="float-right text-dark font-weight-semibold">3500</span></li>
                                </ul>
                            </div>
                            <!-- end col-->
                        </div>
                        <!-- end row-->
                    </div>
                    <div class="tab-pane fade" id="pills-order" role="tabpanel" aria-labelledby="pills-order-tab">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <div>
                                    <div class="apex-charts" id="area-charts-5"></div>
                                </div>
                            </div>
                            <!-- end col-->

                            <div class="col-md-4">
                                <ul class="list-unstyled mt-sm-0 mt-4">
                                    <li class="border-bottom pb-3">Date <span
                                            class="float-right text-dark font-weight-semibold">30/10/2020</span></li>
                                    <li class="border-bottom py-3">Total user <span
                                            class="float-right text-dark font-weight-semibold">200k</span></li>
                                    <li class="border-bottom py-3">Avarage sale <span
                                            class="float-right text-dark font-weight-semibold">165k</span></li>
                                    <li class="border-bottom py-3">Annual income <span
                                            class="float-right text-dark font-weight-semibold">$26,540.00</span></li>
                                    <li class="pt-3">Orders <span
                                            class="float-right text-dark font-weight-semibold">1140</span></li>
                                </ul>
                            </div>
                            <!-- end col-->
                        </div>
                        <!-- end row-->
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-3">

            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-body">
                        <div class="mb-4">
                            <h5 class="card-title">Recent Transactions</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title fs-20 pb-2">Top Products</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-xl-4">

        <div class="card mb-3">

            <div class="card-body no-padding mb-3">
                <div class="d-sm-flex d-block align-items-center justify-content-between mb-0">
                    <div class="mb-0mb-sm-0 p-3">
                        <h5 class="card-title fs-20">Activity Log</h5>
                        <!-- <p class="card-subtitle text-muted fs-14 mb-0">Get full information about this data</p> -->
                    </div>
                </div>
                <div class="mb-3 d-flex align-items-center">
                    <div>
                        <a href="#" data-bs-toggle="dropdown" class="text-body"><i
                                class="bi bi-three-dots-vertical"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" data-bs-theme="light">
                            <a href="#" class="dropdown-item">View full report</a>
                            <a href="#" class="dropdown-item">Reload</a>
                            <a href="#" class="dropdown-item">Export Data</a>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div>
                        <div
                            class="w-40px h-40px fs-20px my-n1 rounded-pill d-flex align-items-center justify-content-center bg-theme-subtle text-theme">
                            <i class="bi bi-key-fill"></i>
                        </div>
                    </div>
                    <div class="flex-1 px-3">
                        <h6 class="mb-0">admin logged in.</h6>
                        <div class="text-muted small">just now</div>
                    </div>
                    <div class="fs-20px">
                        <a href="#" class="text-body text-opacity-30"><i class="bi bi-search"></i></a>
                    </div>
                </div>
                <hr class="opacity-1">
                <div class="d-flex align-items-center">
                    <div>
                        <div
                            class="w-40px h-40px fs-20px rounded-pill d-flex align-items-center justify-content-center bg-body text-body">
                            <i class="bi bi-clock-history"></i>
                        </div>
                    </div>
                    <div class="flex-1 px-3">
                        <h6 class="mb-0">admin initiated a backup of the system.</h6>
                        <div class="text-muted small">5 minutes ago </div>
                    </div>
                    <div class="fs-20px">
                        <a href="#" class="text-body text-opacity-30"><i class="bi bi-search"></i></a>
                    </div>
                </div>
                <hr class="opacity-1">
                <div class="d-flex align-items-center">
                    <div>
                        <div
                            class="w-40px h-40px fs-20px rounded-pill d-flex align-items-center justify-content-center bg-body text-body">
                            <i class="bi bi-person"></i>
                        </div>
                    </div>
                    <div class="flex-1 px-3">
                        <h6 class="mb-0">admin created a new user account for john_doe.</h6>
                        <div class="text-muted small">10 minutes ago </div>
                    </div>
                    <div class="fs-20px">
                        <a href="#" class="text-body text-opacity-30"><i class="bi bi-search"></i></a>
                    </div>
                </div>
                <hr class="opacity-1">
                <div class="d-flex align-items-center">
                    <div>
                        <div
                            class="w-40px h-40px fs-20px rounded-pill d-flex align-items-center justify-content-center bg-body text-body">
                            <i class="bi bi-receipt"></i>
                        </div>
                    </div>
                    <div class="flex-1 px-3">
                        <h6 class="mb-0">admin updated Jane Doe's billing module access.</h6>
                        <div class="text-muted small">15 minutes ago </div>
                    </div>
                    <div class="fs-20px">
                        <a href="#" class="text-body text-opacity-30"><i class="bi bi-search"></i></a>
                    </div>
                </div>
                <hr class="opacity-1">
                <div class="d-flex align-items-center">
                    <div>
                        <div
                            class="w-40px h-40px fs-20px rounded-pill d-flex align-items-center justify-content-center bg-body text-body">
                            <i class="bi bi-arrow-clockwise"></i>
                        </div>
                    </div>
                    <div class="flex-1 px-3">
                        <h6 class="mb-0">admin reset password for jim_smith.</h6>
                        <div class="text-muted small">20 minutes ago </div>
                    </div>
                    <div class="fs-20px">
                        <a href="#" class="text-body text-opacity-30"><i class="bi bi-search"></i></a>
                    </div>
                </div>
                <hr class="opacity-1">
                <div class="d-flex align-items-center">
                    <div>
                        <div
                            class="w-40px h-40px fs-20px rounded-pill d-flex align-items-center justify-content-center bg-theme-subtle text-theme">
                            <i class="bi bi-database-fill"></i>
                        </div>
                    </div>
                    <div class="flex-1 px-3">
                        <h6 class="mb-0">admin performed maintenance on the database server.</h6>
                        <div class="text-muted small">25 minutes ago </div>
                    </div>
                    <div class="fs-20px">
                        <a href="#" class="text-body text-opacity-30"><i class="bi bi-search"></i></a>
                    </div>
                </div>
                <hr class="opacity-1">
                <div class="d-flex align-items-center">
                    <div>
                        <div
                            class="w-40px h-40px fs-20px rounded-pill d-flex align-items-center justify-content-center bg-body text-body">
                            <i class="bi bi-list-ol"></i>
                        </div>
                    </div>
                    <div class="flex-1 px-3">
                        <h6 class="mb-0">admin reviewed the audit log for any unusual activity.</h6>
                        <div class="text-muted small">30 minutes ago </div>
                    </div>
                    <div class="fs-20px">
                        <a href="#" class="text-body text-opacity-30"><i class="bi bi-search"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="row mt-3">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body no-padding">
                <div class="d-sm-flex d-block align-items-center justify-content-between mb-0">
                    <div class="mb-0mb-sm-0 p-3">
                        <h5 class="card-title fs-20">Recent Accounts Created</h5>
                        <p class="card-subtitle text-muted fs-14 mb-0">Get full information about this data</p>
                    </div>
                </div>

                <table class="table align-middle mb-0 bg-white table-hover">
                    <thead class="bg-light">
                        <tr>
                            <th>Name</th>
                            <th>Title</th>
                            <th>Status</th>
                            <th>Position</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="no-padding">
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).webp"
                                        class="rounded-circle" style="width: 35px; height: 35px; margin-right: 10px;"
                                        alt="" loading="lazy" />
                                    <div align="left">
                                        <p class="mb-0 fs-14">CHukwuemeka CHikeluba</p>
                                        <p class="text-muted mb-0 fs-12 fw-4" style="margin-top: -5px;">
                                            john.doegmail.com</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 fs-14">Software engineer</p>
                                <p class="text-muted mb-0 fs-12 fw-4" style="margin-top: -5px;">IT department</p>
                            </td>
                            <td>
                                <span class="badge badge-success rounded-pill">Active</span>
                            </td>
                            <td>Senior</td>
                        </tr>
                        <tr class="no-padding">
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" class="rounded-circle"
                                        style="width: 35px; height: 35px; margin-right: 10px;" alt="" loading="lazy" />
                                    <div align="left">
                                        <p class="mb-0 fs-14">Alex Ray</p>
                                        <p class="text-muted mb-0 fs-12 fw-4" style="margin-top: -5px;">
                                            john.doegmail.com</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 fs-14">Consultant</p>
                                <p class="text-muted mb-0 fs-12 fw-4" style="margin-top: -5px;">IT department</p>
                            </td>
                            <td>
                                <span class="badge badge-success rounded-pill">Active</span>
                            </td>
                            <td>Senior</td>
                        </tr>
                        <tr class="no-padding">
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).webp"
                                        class="rounded-circle" style="width: 35px; height: 35px; margin-right: 10px;"
                                        alt="" loading="lazy" />
                                    <div align="left">
                                        <p class="mb-0 fs-14">CHukwuemeka CHikeluba</p>
                                        <p class="text-muted mb-0 fs-12 fw-4" style="margin-top: -5px;">
                                            john.doegmail.com</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 fs-14">Software engineer</p>
                                <p class="text-muted mb-0 fs-12 fw-4" style="margin-top: -5px;">IT department</p>
                            </td>
                            <td>
                                <span class="badge badge-success rounded-pill">Active</span>
                            </td>
                            <td>Senior</td>
                        </tr>
                        <tr class="no-padding">
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" class="rounded-circle"
                                        style="width: 35px; height: 35px; margin-right: 10px;" alt="" loading="lazy" />
                                    <div align="left">
                                        <p class="mb-0 fs-14">Alex Ray</p>
                                        <p class="text-muted mb-0 fs-12 fw-4" style="margin-top: -5px;">
                                            john.doemail.com</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 fs-14">Consultant</p>
                                <p class="text-muted mb-0 fs-12 fw-4" style="margin-top: -5px;">IT department</p>
                            </td>
                            <td>
                                <span class="badge badge-success rounded-pill">Active</span>
                            </td>
                            <td>Senior</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>