<div class="container mb-4">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
        <div class="col-md-3 mb-2 mb-md-0 ">
            <a href="/" class="text-decoration-none text-dark d-inline-flex align-items-center ">
                <img class="navbar-brand round" height="40" width="40" src="assets/icons/logo.png">
                <h2 class="fs-5 mb-0 text-white" style="font-weight: 400px;">Aide Finance</h2>
            </a>
        </div>
  
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>
  
        <div class="col-md-3 text-end ustify-content-center ">
          <p class="me-2 mt-3 text-white" style="font-size: 0.82rem;">Available on the App Storee</p>
          <!-- <button type="button" class="btn btn-primary">Sign-up</button> -->
        </div>
      </header>
</div>