<header>
    <nav id="navbar-example3" class="navbar navbar-expand-lg justify-content-between">
        <div class="container">
            <img class="navbar-brand round" height="40" width="40" src="assets/icons/icon.png">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-right ms-auto mb-2 mb-lg-0 text-dark">
                <li class="nav-item">
                <a href="#" class="nav-link active">
                    <span class="fs-16">Home</span>
                </a>
                </li>
                <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="fs-16">Features</span>
                </a>
                </li>
                <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="fs-16">Why Us</span>
                </a>
                </li>
                <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="fs-16">Contact Us</span>
                </a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
</header>