<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
        <div class="col-md-3 mb-2 mb-md-0 ">
            <a href="/" class="text-decoration-none text-dark d-inline-flex align-items-center ">
                <img class="navbar-brand round" height="40" width="40" src="assets/icons/logo.png">
                <h2 class="fs-5 mb-0 text-white fw-600">Aide Finance</h2>
            </a>
        </div>
  
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><span routerLink="/" class="nav-link px-2 text-white cursor-pointer">Home</span></li>
          <li><span routerLink="/" class="nav-link px-2 text-white cursor-pointer">Features</span></li>
          <li><span routerLink="/privacy-policy" class="nav-link px-2 text-white cursor-pointer">Pricing</span></li>
          <li><span routerLink="/faq" class="nav-link px-2 text-white cursor-pointer">FAQs</span></li>
          <li><span routerLink="/about" class="nav-link px-2 text-white cursor-pointer">About</span></li>
        </ul>
  
        <div class="col-md-3 text-end justify-content-center ">
          <p class="me-2 mt-3 text-white fs-13">Available on the App Storee</p>
          <!-- <button type="button" class="btn btn-primary">Sign-up</button> -->
        </div>
      </header>
</div>