<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2 class="bold fs-25">Signin to Aide Finance</h2>
<p class="fw-4 fs-16">By continuing, you agree to Yelp’s Terms of Servic<br />e and acknowledge our Privacy Policy.</p>


<form>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <br />
    <div class="d-grid gap-2">
        <button class="btn btn-lg btn-primary" type="button">Sign In With Email</button>
    </div>
    <br />
    <p class="fw-4">Forgot Credentails <a class="text-primary">Recover Account</a>.</p>
    
</form>