<div class="container-fluid top_header_ontainer">
    <div class="container">
        <div class="top_header d-none d-md-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 ps-2 fs-12">
            <span class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                English 
             </span>     
      
            <div class="position-relative">
              <span class="me-2 text-muted"><i class='bx bx-envelope vertical-align-middle'></i> contact@aidefinance.com</span>
              <span class="me-2 text-muted"><i class='bx bx-phone-call vertical-align-middle'></i> 909-099 66 55</span>
              
              <span class="ms-4"><i class='bx bx-search vertical-align-middle'></i></span>
            </div>
        </div>
    </div>
</div>