/* You can add global styles to this file, and also import other style files */
.text-default {
    color: #9cd9fe !important;
}

.bg-default {
    background-color: #9cd9fe !important;
}

.bg-light {
    background-color: #bee0f5 !important;
}