/* You can add global styles to this file, and also import other style files */

@import "./assets/theme/theme.scss";

* {
    font-family: Moderat, Helvetica, Arial, sans-serif !important;
}

body {
    &::-webkit-scrollbar {
        display: block;
        scrollbar-width: 5px;
        background: none;
        width: 7px;
        border-radius: 10px;
      }
    
      &::-webkit-scrollbar-thumb {
          background:  var(--color-primary); 
          border-radius: 10px;
          cursor: pointer;
    }    

}

.top_header_ontainer {
    background: var(--color-tertiary) !important;

    .top_header span {
        color: var(--color-white) !important;
    }
}

.headerv {
    background: var(--color-primary) !important;
    color: var(--color-white) !important;

    a.nav-link {
        position: relative;
      }
      
      a.nav-link::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 4px;
          border-radius: 4px;
          background-color: var(--color-light) !important;
          bottom: 0;
          left: 0;
          transform-origin: right;
          transform: scaleX(0);
          transition: transform .3s ease-in-out;
        }
      
      a.nav-link:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }

    input[type="email"] {
        border-color: transparent !important;
        background-color: var(--color-primary) !important;
        color: var(--color-white) !important;
        // border-bottom: 2px solid #000 !important;
        border-radius: 0 !important;
    
        &:focus {
            border-color: transparent !important;
            background-color: var(--color-primary) !important;
            // border-bottom: 2px solid #000!important;
            box-shadow: none!important;
            outline: 0 none !important;
        }
    }

    input[type="email"]::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: var(--color-white) !important;
    }
    input[type="email"]:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: var(--color-white) !important;
    }
    input[type="email"]::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: var(--color-white) !important;
    }
    input[type="email"]:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: var(--color-white) !important;
    }
}

.feature_area {
    background: var(--color-lotion) !important;
    .cash-img {
        position: relative;
        display: inline-block;
    
        .msg-1 {
            position: absolute;
            right: 25px;
            bottom: 235px;
            box-shadow: 0px 16.9638557434px 68.9156646729px 0px #3f5d6540;
        }
    
        .msg-2 {
            position: absolute;
            left: -16px;
            bottom: 155px;
            box-shadow: 0px 16.2357940674px 65.9579086304px 0px #3f5d6540;
        }
    }
}

.financial_needs {
    background: var(--color-lotion) !important;
    .blog-widget {
        // border: 1px solid #B0BAF1;
        padding: 20px 0px 16px 15px;
        // border-radius: 12px;
        .blog-img {
            .img-content {
                // position: relative;
                // z-index: 1;
        
                .track-3 {
                    position: absolute;
                    right: 300px;
                }
            }
        }
        &:hover{
            // background-color: #9cd9fe;
        }
    }
   
    
    .track-2{
        // bottom: 40px;
        // left: -80px;
    }
    
}

.features-section {
    background: var(--color-magnolia) !important;
    h5 {
        margin: 18px 0px 5px;
    }
}
    


.advantages {
    background: var(--color-light) !important;
    .media {
        margin-bottom: 34px;
        padding: 30px 20px 0px 35px;
        border-radius: 8px;

        i {
            margin-right: 18px;
        }
        .media-body {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;

            
    
            h5 {
                font-size: 22px;
                color: #252525;
                line-height: 26px;
                margin-bottom: 19px;
            }
            p {
                color: #808080;
                line-height: 24px;
                font-size: 14px;
            }
        }
    }
    
}

.financial-planning {
    .cus-mar {
        margin-bottom: -30px;
    }
    .plan-box {
        padding: 30px 20px;
        // background: var(--color-primary);
        box-shadow: 0px 12px 24px rgb(47 65 129 / 10%);
        border-radius: 20px;
        margin-bottom: 30px;
        border: 1px solid transparent;
        transition: 0.3s;

        .thumb {
            width: 80px;
            height: 80px;
            background: #F5FAFF;
            border-radius: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            transition: 0.3s;
        }

        a {
            margin: 36px 0 4px;
        }

        ul {
            padding-left: 0rem !important;

            li {
                margin-top: 15px; 

                .check  {
                    min-width: 24px;
                    min-height: 24px;
                    background: #9cd9fe;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }
        }
        
    }
}

.card-payment {
    overflow: hidden;
    border-bottom: 16px solid #9cd9fe;

    .text-content {
        position: relative;
        z-index: 1;
    }

    .img-content {
        position: relative;
        z-index: 3;

        .card-2 {
            position: absolute;
            top: 120px;
            right: -118px;
        }
    }   
}



// .cmn-btn {
//     padding: 10px 30px 15px;
//     font-weight: 500;
//     text-align: center;
//     background: #1a4dbe;
//     color: #ffffff;
//     border: 1px solid #1a4dbe;
//     transition: 0.3s;
//     border-radius: 50px;
// }


.footer_area {
    background-color: #000;
    position: relative;
    padding-top: 60px;
    padding-bottom: 20px;
    color: #fff;
    // transform: translateY(-50%);

    // .ctp-app-image{
    //     text-align: end;
    // }
    
}